In [3]:
import pandas as pd

df_bangalore = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\bangalore_cars.xlsx")
df_chennai = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\chennai_cars.xlsx")
df_delhi = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\delhi_cars.xlsx")
df_hyderabad = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\hyderabad_cars.xlsx")
df_jaipur = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\jaipur_cars.xlsx")
df_kolkata = pd.read_excel(r"C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\kolkata_cars.xlsx")
df_bangalore['City']="Bangalore"
df_chennai['City']="Chennai"
df_delhi['City']="Delhi"
df_hyderabad['City']="Hyderabad"
df_jaipur['City']="Jaipur"
df_kolkata['City']="Kolkata"

merged_df = pd.concat([df_bangalore,df_chennai,df_delhi,df_hyderabad,df_jaipur,df_kolkata], ignore_index=True)
merged_df

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,City
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bangalore
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bangalore
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...
8364,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Kolkata
8365,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Kolkata
8366,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Kolkata
8367,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Kolkata
8368,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Kolkata

In [5]:
import pandas as pd
import ast

# Extract 'new_car_detail' column from merged_df
df_new_car_detail = merged_df['new_car_detail']

# Flatten the 'new_car_detail' column by converting it from stringified lists/dictionaries to actual Python objects
df_new_car_detail_flattened = pd.DataFrame(df_new_car_detail.apply(ast.literal_eval).tolist())

# Step 1: Extract 'trendingText' from df_new_car_detail_flattened_1
df_trendingText = df_new_car_detail_flattened['trendingText']

# Step 2: Convert 'trendingText' column into a DataFrame (if needed)
df_new_car_detail_flattened_1 = pd.DataFrame(df_trendingText)

# Step 3: Drop 'trendingText' from the original flattened DataFrame
df_new_car_detail_flattened.drop("trendingText", axis=1, inplace=True)

# Display the final DataFrame after dropping 'trendingText'
print(df_new_car_detail_flattened)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner
1      0  Petrol        SUV    32,706       Manual        2  2nd Owner
2      0  Petrol  Hatchback    11,949       Manual        1  1st Owner
3      0  Petrol      Sedan    17,794       Manual        1  1st Owner
4      0  Diesel        SUV    60,000       Manual        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
8364   0  Petrol  Hatchback    10,000       Manual        1  1st Owner
8365   0  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
8366   0  Petrol      Sedan    50,000    Automatic        3  3rd Owner
8367   0  Petrol  Hatchback    40,000       Manual        1  1st Owner
8368   0  Diesel        SUV  1,20,000       Manual        2  2nd Owner

                oem                  model  modelYear  centralVariantId  \
0            Maruti         Maruti Celerio       2015              3979
1              Ford          Ford Ecosport       2018              6087
2              Tata             Tata Tiago       2018              2983
3           Hyundai          Hyundai Xcent       2014              1867
4            Maruti     Maruti SX4 S Cross       2015              4277
...             ...                    ...        ...               ...
8364         Maruti         Maruti Celerio       2022              8682
8365         Maruti        Maruti Alto 800       2014              3943
8366  Mercedes-Benz  Mercedes-Benz C-Class       2011              4672
8367         Maruti            Maruti Ritz       2012              4144
8368        Renault         Renault Duster       2017              5048

                   variantName        price priceActual priceSaving  \
0                          VXI     â‚¹ 4 Lakh
1     1.5 Petrol Titanium BSIV  â‚¹ 8.11 Lakh
2              1.2 Revotron XZ  â‚¹ 5.85 Lakh
3           1.2 Kappa S Option  â‚¹ 4.62 Lakh
4                DDiS 200 Zeta  â‚¹ 7.90 Lakh
...                        ...          ...         ...         ...
8364                  ZXI BSVI  â‚¹ 5.10 Lakh
8365                       LXI  â‚¹ 1.80 Lakh
8366        C 200 CGI Elegance  â‚¹ 5.50 Lakh
8367                       ZXi  â‚¹ 1.40 Lakh
8368      110PS Diesel RxZ AWD     â‚¹ 5 Lakh

     priceFixedText
0              None
1              None
2              None
3              None
4              None
...             ...
8364           None
8365           None
8366           None
8367           None
8368           None

[8369 rows x 16 columns]

In [7]:
df_new_car_detail_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   it                8369 non-null   int64
 1   ft                8369 non-null   object
 2   bt                8369 non-null   object
 3   km                8369 non-null   object
 4   transmission      8369 non-null   object
 5   ownerNo           8369 non-null   int64
 6   owner             8369 non-null   object
 7   oem               8369 non-null   object
 8   model             8369 non-null   object
 9   modelYear         8369 non-null   int64
 10  centralVariantId  8369 non-null   int64
 11  variantName       8369 non-null   object
 12  price             8369 non-null   object
 13  priceActual       8369 non-null   object
 14  priceSaving       8369 non-null   object
 15  priceFixedText    0 non-null      object
dtypes: int64(4), object(12)
memory usage: 1.0+ MB

In [9]:
df_new_car_detail_flattened.drop(['priceActual','priceSaving','priceFixedText'],axis=1, inplace=True)
df_new_car_detail_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   it                8369 non-null   int64
 1   ft                8369 non-null   object
 2   bt                8369 non-null   object
 3   km                8369 non-null   object
 4   transmission      8369 non-null   object
 5   ownerNo           8369 non-null   int64
 6   owner             8369 non-null   object
 7   oem               8369 non-null   object
 8   model             8369 non-null   object
 9   modelYear         8369 non-null   int64
 10  centralVariantId  8369 non-null   int64
 11  variantName       8369 non-null   object
 12  price             8369 non-null   object
dtypes: int64(4), object(9)
memory usage: 850.1+ KB

In [11]:
# Convert specific columns to 'category' type
df_new_car_detail_flattened['ft'] = df_new_car_detail_flattened['ft'].astype('category')
df_new_car_detail_flattened['bt'] = df_new_car_detail_flattened['bt'].astype('category')
df_new_car_detail_flattened['transmission'] = df_new_car_detail_flattened['transmission'].astype('category')
df_new_car_detail_flattened['owner'] = df_new_car_detail_flattened['owner'].astype('category')
df_new_car_detail_flattened['oem'] = df_new_car_detail_flattened['oem'].astype('category')
df_new_car_detail_flattened['model'] = df_new_car_detail_flattened['model'].astype('category')
df_new_car_detail_flattened['variantName'] = df_new_car_detail_flattened['variantName'].astype('category')

# Remove commas and convert 'km' column to integer, handle errors
df_new_car_detail_flattened['km'] = df_new_car_detail_flattened['km'].str.replace(',', '').astype(int)

# Check the final DataFrame information
print(df_new_car_detail_flattened.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   it                8369 non-null   int64
 1   ft                8369 non-null   category
 2   bt                8369 non-null   category
 3   km                8369 non-null   int32
 4   transmission      8369 non-null   category
 5   ownerNo           8369 non-null   int64
 6   owner             8369 non-null   category
 7   oem               8369 non-null   category
 8   model             8369 non-null   category
 9   modelYear         8369 non-null   int64
 10  centralVariantId  8369 non-null   int64
 11  variantName       8369 non-null   category
 12  price             8369 non-null   object
dtypes: category(7), int32(1), int64(4), object(1)
memory usage: 527.5+ KB
None

In [13]:
df_new_car_detail_flattened

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price
0,0,Petrol,Hatchback,120000,Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,â‚¹ 4 Lakh
1,0,Petrol,SUV,32706,Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,â‚¹ 8.11 Lakh
2,0,Petrol,Hatchback,11949,Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,â‚¹ 5.85 Lakh
3,0,Petrol,Sedan,17794,Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,â‚¹ 4.62 Lakh
4,0,Diesel,SUV,60000,Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,â‚¹ 7.90 Lakh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,10000,Manual,1,1st Owner,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,â‚¹ 5.10 Lakh
8365,0,Petrol,Hatchback,120000,Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,3943,LXI,â‚¹ 1.80 Lakh
8366,0,Petrol,Sedan,50000,Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,â‚¹ 5.50 Lakh
8367,0,Petrol,Hatchback,40000,Manual,1,1st Owner,Maruti,Maruti Ritz,2012,4144,ZXi,â‚¹ 1.40 Lakh
8368,0,Diesel,SUV,120000,Manual,2,2nd Owner,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,â‚¹ 5 Lakh

In [15]:
df_new_car_detail_flattened['price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8369 entries, 0 to 8368
Series name: price
Non-Null Count  Dtype
--------------  -----
8369 non-null   object
dtypes: object(1)
memory usage: 65.5+ KB

In [17]:
# Count the number of cells containing 'lakh'
count_lakh = df_new_car_detail_flattened['price'].str.contains('lakh', case=False, na=False).sum()

# Count the number of cells containing 'cr'
count_cr = df_new_car_detail_flattened['price'].str.contains('cr', case=False, na=False).sum()

# Display the counts
print(f"Number of 'lakh' cells: {count_lakh}")
print(f"Number of 'cr' cells: {count_cr}")

Number of 'lakh' cells: 8239
Number of 'cr' cells: 20

In [19]:
# Filter rows where 'price' does not contain 'lakh' or 'cr'
filtered_df = df_new_car_detail_flattened[~df_new_car_detail_flattened['price'].str.contains('lakh|cr', case=False, na=False)]

# Display the filtered DataFrame
print(filtered_df)

      it      ft         bt      km transmission  ownerNo      owner      oem  \
584    0  Petrol   Minivans   80000       Manual        5  5th Owner   Maruti
595    0  Petrol  Hatchback  120000       Manual        3  3rd Owner  Hyundai
675    0  Diesel  Hatchback   50000       Manual        1  1st Owner     Tata
690    0  Petrol      Sedan   50000       Manual        3  3rd Owner   Maruti
737    0  Petrol      Sedan   70000       Manual        1  1st Owner     Opel
...   ..     ...        ...     ...          ...      ...        ...      ...
8127   0  Petrol  Hatchback   60000       Manual        1  1st Owner   Maruti
8162   0  Petrol  Hatchback   30000       Manual        1  1st Owner   Maruti
8310   0  Petrol  Hatchback   50000       Manual        1  1st Owner   Maruti
8312   0  Petrol  Hatchback   20000       Manual        1  1st Owner   Maruti
8314   0  Petrol  Hatchback   40000       Manual        2  2nd Owner   Maruti

               model  modelYear  centralVariantId variantName      price
584      Maruti Omni       1998              4130   5 Str STD  â‚¹ 58,000
595     Hyundai Getz       2006              1511         GLS  â‚¹ 55,000
675   Tata Indica V2       2003              2519    DL BSIII  â‚¹ 70,000
690      Maruti 1000       1998              3872          AC  â‚¹ 40,000
737        OpelCorsa       2004              4797      1.4Gsi  â‚¹ 80,000
...              ...        ...               ...         ...        ...
8127  Maruti Wagon R       2005              4335          LX  â‚¹ 40,000
8162     Maruti Alto       2004              3915          LX  â‚¹ 45,000
8310     Maruti Ritz       2009              4157         VXI  â‚¹ 75,000
8312  Maruti Wagon R       2007              4339   LXI Minor  â‚¹ 80,000
8314     Maruti Alto       2005              3902          LX  â‚¹ 35,000

[110 rows x 13 columns]

In [21]:
import numpy as np
import re

# Function to clean and convert 'lakh', 'cr', and 'ore' to numeric
def convert_price(value):
    # Remove any special characters (non-alphanumeric except for '.'), keep 'lakh', 'cr', and 'ore'
    value = re.sub(r'[^\d\.a-zA-Z\s]', '', value).lower().strip()  # Keep digits, '.', and 'lakh', 'cr', 'ore'
    
    # Handle 'lakh', 'cr', and 'ore'
    if 'lakh' in value:
        return float(value.replace('lakh', '').strip()) * 100000
    elif 'cr' in value or 'ore' in value:  # Treat 'ore' as 'cr'
        return float(value.replace('cr', '').replace('ore', '').strip()) * 10000000
    else:
        try:
            # For other numeric values, convert directly
            return float(value.replace(',', '').strip())
        except ValueError:
            # Return NaN for invalid entries
            return np.nan

# Apply the function to the 'price' column
df_new_car_detail_flattened['price_cleaned'] = df_new_car_detail_flattened['price'].apply(convert_price)

# Display the cleaned DataFrame
print(df_new_car_detail_flattened)

      it      ft         bt      km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback  120000       Manual        3  3rd Owner
1      0  Petrol        SUV   32706       Manual        2  2nd Owner
2      0  Petrol  Hatchback   11949       Manual        1  1st Owner
3      0  Petrol      Sedan   17794       Manual        1  1st Owner
4      0  Diesel        SUV   60000       Manual        1  1st Owner
...   ..     ...        ...     ...          ...      ...        ...
8364   0  Petrol  Hatchback   10000       Manual        1  1st Owner
8365   0  Petrol  Hatchback  120000       Manual        1  1st Owner
8366   0  Petrol      Sedan   50000    Automatic        3  3rd Owner
8367   0  Petrol  Hatchback   40000       Manual        1  1st Owner
8368   0  Diesel        SUV  120000       Manual        2  2nd Owner

                oem                  model  modelYear  centralVariantId  \
0            Maruti         Maruti Celerio       2015              3979
1              Ford          Ford Ecosport       2018              6087
2              Tata             Tata Tiago       2018              2983
3           Hyundai          Hyundai Xcent       2014              1867
4            Maruti     Maruti SX4 S Cross       2015              4277
...             ...                    ...        ...               ...
8364         Maruti         Maruti Celerio       2022              8682
8365         Maruti        Maruti Alto 800       2014              3943
8366  Mercedes-Benz  Mercedes-Benz C-Class       2011              4672
8367         Maruti            Maruti Ritz       2012              4144
8368        Renault         Renault Duster       2017              5048

                   variantName        price  price_cleaned
0                          VXI     â‚¹ 4 Lakh       400000.0
1     1.5 Petrol Titanium BSIV  â‚¹ 8.11 Lakh       811000.0
2              1.2 Revotron XZ  â‚¹ 5.85 Lakh       585000.0
3           1.2 Kappa S Option  â‚¹ 4.62 Lakh       462000.0
4                DDiS 200 Zeta  â‚¹ 7.90 Lakh       790000.0
...                        ...          ...            ...
8364                  ZXI BSVI  â‚¹ 5.10 Lakh       510000.0
8365                       LXI  â‚¹ 1.80 Lakh       180000.0
8366        C 200 CGI Elegance  â‚¹ 5.50 Lakh       550000.0
8367                       ZXi  â‚¹ 1.40 Lakh       140000.0
8368      110PS Diesel RxZ AWD     â‚¹ 5 Lakh       500000.0

[8369 rows x 14 columns]

In [23]:
df_new_car_detail_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   it                8369 non-null   int64
 1   ft                8369 non-null   category
 2   bt                8369 non-null   category
 3   km                8369 non-null   int32
 4   transmission      8369 non-null   category
 5   ownerNo           8369 non-null   int64
 6   owner             8369 non-null   category
 7   oem               8369 non-null   category
 8   model             8369 non-null   category
 9   modelYear         8369 non-null   int64
 10  centralVariantId  8369 non-null   int64
 11  variantName       8369 non-null   category
 12  price             8369 non-null   object
 13  price_cleaned     8369 non-null   float64
dtypes: category(7), float64(1), int32(1), int64(4), object(1)
memory usage: 592.9+ KB

In [25]:
df_new_car_overview=merged_df['new_car_overview']
df_new_car_overview

0       {'heading': 'Car overview', 'top': [{'key': 'R...
1       {'heading': 'Car overview', 'top': [{'key': 'R...
2       {'heading': 'Car overview', 'top': [{'key': 'R...
3       {'heading': 'Car overview', 'top': [{'key': 'R...
4       {'heading': 'Car overview', 'top': [{'key': 'R...
                              ...
8364    {'heading': 'Car overview', 'top': [{'key': 'R...
8365    {'heading': 'Car overview', 'top': [{'key': 'R...
8366    {'heading': 'Car overview', 'top': [{'key': 'R...
8367    {'heading': 'Car overview', 'top': [{'key': 'R...
8368    {'heading': 'Car overview', 'top': [{'key': 'R...
Name: new_car_overview, Length: 8369, dtype: object

In [27]:
import pandas as pd
import ast

# Assuming df_new_car_overview is a Series containing strings of dictionaries
s = [ast.literal_eval(i) for i in df_new_car_overview]  # Use literal_eval for safety
df_new_car_overview_1 = pd.DataFrame(s)  # Create a DataFrame |from the list of dictionaries

# Extract the 'top' column and the 'heading'
df_new_car_overview_1_top = df_new_car_overview_1['top']
df_new_car_overview_1_heading = df_new_car_overview_1['heading'].iloc[0]  # Assuming the heading is the same for all rows

# Function to convert list of dictionaries to a single dictionary with key-value pairs including heading
def convert_to_dict(row):
    return {f"{df_new_car_overview_1_heading} - {item['key']}": item['value'] for item in row}

# Apply the function to each row in the Series
all_data = df_new_car_overview_1_top.apply(convert_to_dict)

# Convert the Series of dictionaries to a DataFrame
df_new_car_overview_flattened = pd.DataFrame(all_data.tolist())

# Display the first 5 rows of the final DataFrame
print(df_new_car_overview_flattened.head())

  Car overview - Registration Year Car overview - Insurance Validity  \
0                             2015             Third Party insurance
1                         Feb 2018                     Comprehensive
2                        Sept 2018                     Comprehensive
3                         Dec 2014                     Comprehensive
4                             2015             Third Party insurance

  Car overview - Fuel Type Car overview - Seats Car overview - Kms Driven  \
0                   Petrol              5 Seats              1,20,000 Kms
1                   Petrol              5 Seats                32,706 Kms
2                   Petrol              5 Seats                11,949 Kms
3                   Petrol              5 Seats                17,794 Kms
4                   Diesel              5 Seats                60,000 Kms

  Car overview - RTO Car overview - Ownership  \
0               KA51              Third Owner
1               KA05             Second Owner
2               KA03              First Owner
3               KA53              First Owner
4               KA04              First Owner

  Car overview - Engine Displacement Car overview - Transmission  \
0                             998 cc                      Manual
1                            1497 cc                      Manual
2                            1199 cc                      Manual
3                            1197 cc                      Manual
4                            1248 cc                      Manual

   Car overview - Year of Manufacture
0                              2015.0
1                              2018.0
2                              2018.0
3                              2014.0
4                              2015.0

In [29]:
df_new_car_overview_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Car overview - Registration Year    8317 non-null   object
 1   Car overview - Insurance Validity   8365 non-null   object
 2   Car overview - Fuel Type            8369 non-null   object
 3   Car overview - Seats                8363 non-null   object
 4   Car overview - Kms Driven           8367 non-null   object
 5   Car overview - RTO                  7481 non-null   object
 6   Car overview - Ownership            8337 non-null   object
 7   Car overview - Engine Displacement  8365 non-null   object
 8   Car overview - Transmission         8369 non-null   object
 9   Car overview - Year of Manufacture  8349 non-null   float64
dtypes: float64(1), object(9)
memory usage: 654.0+ KB

In [31]:
df_new_car_overview_flattened.isnull().sum()

Car overview - Registration Year       52
Car overview - Insurance Validity       4
Car overview - Fuel Type                0
Car overview - Seats                    6
Car overview - Kms Driven               2
Car overview - RTO                    888
Car overview - Ownership               32
Car overview - Engine Displacement      4
Car overview - Transmission             0
Car overview - Year of Manufacture     20
dtype: int64

In [33]:
# Assuming 'Car overview - Year of Manufacture' is the column with the values you want to fill
df_new_car_overview_flattened['Car overview - Registration Year'] = df_new_car_overview_flattened['Car overview - Registration Year'].fillna(df_new_car_overview_flattened['Car overview - Year of Manufacture'])
df_new_car_overview_flattened['Car overview - Year of Manufacture'] = df_new_car_overview_flattened['Car overview - Year of Manufacture'].fillna(df_new_car_overview_flattened['Car overview - Registration Year'])

df_new_car_overview_flattened.isnull().sum()

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\1608238310.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new_car_overview_flattened['Car overview - Year of Manufacture'] = df_new_car_overview_flattened['Car overview - Year of Manufacture'].fillna(df_new_car_overview_flattened['Car overview - Registration Year'])

Car overview - Registration Year       20
Car overview - Insurance Validity       4
Car overview - Fuel Type                0
Car overview - Seats                    6
Car overview - Kms Driven               2
Car overview - RTO                    888
Car overview - Ownership               32
Car overview - Engine Displacement      4
Car overview - Transmission             0
Car overview - Year of Manufacture     20
dtype: int64

In [35]:
df_new_car_overview_flattened.describe()

       Car overview - Year of Manufacture
count                         8349.000000
mean                          2016.547850
std                              3.811882
min                           2002.000000
25%                           2014.000000
50%                           2017.000000
75%                           2019.000000
max                           2023.000000

In [37]:
df_new_car_overview_flattened['Car overview - Registration Year'] = df_new_car_overview_flattened['Car overview - Registration Year'].fillna(2016)
df_new_car_overview_flattened['Car overview - Year of Manufacture'] = df_new_car_overview_flattened['Car overview - Year of Manufacture'].fillna(2016)
df_new_car_overview_flattened.isnull().sum()

Car overview - Registration Year        0
Car overview - Insurance Validity       4
Car overview - Fuel Type                0
Car overview - Seats                    6
Car overview - Kms Driven               2
Car overview - RTO                    888
Car overview - Ownership               32
Car overview - Engine Displacement      4
Car overview - Transmission             0
Car overview - Year of Manufacture      0
dtype: int64

In [39]:
import re

# Function to extract year, converting input to string
def extract_year(value):
    # Convert value to string to handle different types
    value_str = str(value)
    # Match any year in the format YYYY or from a date string
    match = re.search(r'\b(19|20)\d{2}\b', value_str)
    if match:
        return int(match.group(0))
    return None  # Return None if no valid year is found

# Apply the function to extract the year for both columns
df_new_car_overview_flattened['Car overview - Registration Year'] = df_new_car_overview_flattened['Car overview - Registration Year'].apply(extract_year)
df_new_car_overview_flattened['Car overview - Year of Manufacture'] = df_new_car_overview_flattened['Car overview - Year of Manufacture'].apply(extract_year)

# Convert to int64 after extraction and filling
df_new_car_overview_flattened['Car overview - Registration Year'] = df_new_car_overview_flattened['Car overview - Registration Year'].astype('int64')
df_new_car_overview_flattened['Car overview - Year of Manufacture'] = df_new_car_overview_flattened['Car overview - Year of Manufacture'].astype('int64')

# Convert specific columns to 'category' type
df_new_car_overview_flattened['Car overview - Insurance Validity'] = df_new_car_overview_flattened['Car overview - Insurance Validity'].astype('category')
df_new_car_overview_flattened['Car overview - Fuel Type'] = df_new_car_overview_flattened['Car overview - Fuel Type'].astype('category')
df_new_car_overview_flattened['Car overview - Seats'] = df_new_car_overview_flattened['Car overview - Seats'].astype('category')
df_new_car_overview_flattened['Car overview - Ownership'] = df_new_car_overview_flattened['Car overview - Ownership'].astype('category')
df_new_car_overview_flattened['Car overview - Transmission'] = df_new_car_overview_flattened['Car overview - Transmission'].astype('category')
df_new_car_overview_flattened['Car overview - RTO'] = df_new_car_overview_flattened['Car overview - RTO'].astype('category')
df_new_car_overview_flattened['Car overview - Engine Displacement'] = df_new_car_overview_flattened['Car overview - Engine Displacement'].astype('category')

# Display the info of the updated DataFrame
df_new_car_overview_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Car overview - Registration Year    8369 non-null   int64
 1   Car overview - Insurance Validity   8365 non-null   category
 2   Car overview - Fuel Type            8369 non-null   category
 3   Car overview - Seats                8363 non-null   category
 4   Car overview - Kms Driven           8367 non-null   object
 5   Car overview - RTO                  7481 non-null   category
 6   Car overview - Ownership            8337 non-null   category
 7   Car overview - Engine Displacement  8365 non-null   category
 8   Car overview - Transmission         8369 non-null   category
 9   Car overview - Year of Manufacture  8369 non-null   int64
dtypes: category(7), int64(2), object(1)
memory usage: 296.1+ KB

In [41]:
df_new_car_overview_flattened.isnull().sum()

Car overview - Registration Year        0
Car overview - Insurance Validity       4
Car overview - Fuel Type                0
Car overview - Seats                    6
Car overview - Kms Driven               2
Car overview - RTO                    888
Car overview - Ownership               32
Car overview - Engine Displacement      4
Car overview - Transmission             0
Car overview - Year of Manufacture      0
dtype: int64

In [43]:
# Display descriptive statistics for categorical columns
df_new_car_overview_flattened.describe(include=['category'])

,Car overview - Insurance Validity,Car overview - Fuel Type,Car overview - Seats,Car overview - RTO,Car overview - Ownership,Car overview - Engine Displacement,Car overview - Transmission
count,8365,8369,8363,7481,8337,8365,8369
unique,7,5,8,465,5,150,2
top,Third Party insurance,Petrol,5 Seats,WB02,First Owner,1197 cc,Manual
freq,4055,5554,7354,452,5882,1607,6052

In [45]:
df_new_car_overview_flattened['Car overview - Insurance Validity'] = df_new_car_overview_flattened['Car overview - Insurance Validity'].fillna('Third Party insurance')
df_new_car_overview_flattened['Car overview - Seats'] = df_new_car_overview_flattened['Car overview - Seats'].fillna('5 Seats')
df_new_car_overview_flattened['Car overview - Ownership'] = df_new_car_overview_flattened['Car overview - Ownership'].fillna('First Owner')
df_new_car_overview_flattened.isnull().sum()

Car overview - Registration Year        0
Car overview - Insurance Validity       0
Car overview - Fuel Type                0
Car overview - Seats                    0
Car overview - Kms Driven               2
Car overview - RTO                    888
Car overview - Ownership                0
Car overview - Engine Displacement      4
Car overview - Transmission             0
Car overview - Year of Manufacture      0
dtype: int64

In [47]:
df_new_car_overview_flattened['Car overview - RTO'] = df_new_car_overview_flattened['Car overview - RTO'].fillna('WB02')
df_new_car_overview_flattened['Car overview - Engine Displacement'] = df_new_car_overview_flattened['Car overview - Engine Displacement'].fillna('1197 cc')
df_new_car_overview_flattened.isnull().sum()

Car overview - Registration Year      0
Car overview - Insurance Validity     0
Car overview - Fuel Type              0
Car overview - Seats                  0
Car overview - Kms Driven             2
Car overview - RTO                    0
Car overview - Ownership              0
Car overview - Engine Displacement    0
Car overview - Transmission           0
Car overview - Year of Manufacture    0
dtype: int64

In [49]:
# Ensure the column is of string type to handle replacements correctly
df_new_car_overview_flattened['Car overview - Kms Driven'] = df_new_car_overview_flattened['Car overview - Kms Driven'].astype(str)

# Remove commas and non-numeric suffix, then handle NaN and convert to integers
df_new_car_overview_flattened['Car overview - Kms Driven'] = (
    df_new_car_overview_flattened['Car overview - Kms Driven']
    .str.replace(',', '', regex=False)  # Remove commas
    .str.replace(' Kms', '', regex=False)  # Remove ' Kms' suffix
    .str.replace('nan', '0', regex=False)  # Replace 'nan' string with '0'
    .replace('', '0')  # Replace any empty strings with '0'
    .fillna(0)  # Fill NaN values with 0
)

# Convert to integers
df_new_car_overview_flattened['Car overview - Kms Driven'] = df_new_car_overview_flattened['Car overview - Kms Driven'].astype(int)

# Display the updated DataFrame info
df_new_car_overview_flattened.info()

# Calculate the mean, ignoring 0 values
mean_kms = df_new_car_overview_flattened['Car overview - Kms Driven'][df_new_car_overview_flattened['Car overview - Kms Driven'] != 0].mean()

# Replace 0 values with the mean
df_new_car_overview_flattened['Car overview - Kms Driven'].replace(0, mean_kms, inplace=True)

# Convert the column to int after replacing
df_new_car_overview_flattened['Car overview - Kms Driven'] = df_new_car_overview_flattened['Car overview - Kms Driven'].astype(int)

# Display the updated DataFrame info
df_new_car_overview_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Car overview - Registration Year    8369 non-null   int64
 1   Car overview - Insurance Validity   8369 non-null   category
 2   Car overview - Fuel Type            8369 non-null   category
 3   Car overview - Seats                8369 non-null   category
 4   Car overview - Kms Driven           8369 non-null   int32
 5   Car overview - RTO                  8369 non-null   category
 6   Car overview - Ownership            8369 non-null   category
 7   Car overview - Engine Displacement  8369 non-null   category
 8   Car overview - Transmission         8369 non-null   category
 9   Car overview - Year of Manufacture  8369 non-null   int64
dtypes: category(7), int32(1), int64(2)
memory usage: 263.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Car overview - Registration Year    8369 non-null   int64
 1   Car overview - Insurance Validity   8369 non-null   category
 2   Car overview - Fuel Type            8369 non-null   category
 3   Car overview - Seats                8369 non-null   category
 4   Car overview - Kms Driven           8369 non-null   int32
 5   Car overview - RTO                  8369 non-null   category
 6   Car overview - Ownership            8369 non-null   category
 7   Car overview - Engine Displacement  8369 non-null   category
 8   Car overview - Transmission         8369 non-null   category
 9   Car overview - Year of Manufacture  8369 non-null   int64
dtypes: category(7), int32(1), int64(2)
memory usage: 263.4 KB

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\359997167.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_overview_flattened['Car overview - Kms Driven'].replace(0, mean_kms, inplace=True)

In [51]:
import pandas as pd
import json
import re

# Assuming merged_df is already defined and df_new_car_feature is extracted from it
df_new_car_feature = merged_df['new_car_feature']

# Function to parse entries
def parse_entry(entry):
    if isinstance(entry, str):
        entry = entry.replace("'", '"')
        entry = re.sub(r'([{,])\s*([^":\s]+)\s*:', r'\1"\2":', entry)
        return json.loads(entry)
    return entry

# Function to extract unique features from each row
def encode_features(row):
    unique_features = set()
    for feature in row.get('top', []):
        unique_features.add(feature['value'])
    for section in row.get('data', []):
        for feature in section.get('list', []):
            unique_features.add(feature['value'])
    return unique_features

# Collect unique features across all entries in the Series
all_unique_features = set()

# Collect all unique features
for row in df_new_car_feature:
    parsed_row = parse_entry(row)
    all_unique_features.update(encode_features(parsed_row))

# Convert to a sorted list
all_unique_features = sorted(all_unique_features)

# Create a list to hold the rows for the encoded DataFrame
encoded_rows = []

# Fill the DataFrame with binary values for each entry in the Series
for row in df_new_car_feature:
    parsed_row = parse_entry(row)
    feature_presence = {feature: (1 if feature in encode_features(parsed_row) else 0) for feature in all_unique_features}
    encoded_rows.append(feature_presence)

# Create the final DataFrame from the list of rows
df_car_feature_encoded = pd.DataFrame(encoded_rows, columns=all_unique_features)

# Display the resulting DataFrame
print(df_car_feature_encoded)

      Accessory Power Outlet  Active Noise Cancellation  \
0                          1                          0
1                          1                          0
2                          1                          0
3                          1                          0
4                          1                          0
...                      ...                        ...
8364                       1                          0
8365                       0                          0
8366                       1                          0
8367                       1                          0
8368                       1                          0

      Adjustable Head Lights  Adjustable Headrest  Adjustable Seats  \
0                          1                    0                 1
1                          1                    0                 1
2                          1                    0                 1
3                          1                    0                 1
4                          1                    0                 1
...                      ...                  ...               ...
8364                       1                    1                 1
8365                       1                    0                 1
8366                       1                    0                 1
8367                       1                    0                 1
8368                       1                    0                 1

      Adjustable Steering  Air Conditioner  Air Quality Control  Alloy Wheels  \
0                       0                1                    0             0
1                       1                1                    0             1
2                       1                1                    0             0
3                       1                1                    0             1
4                       1                1                    1             1
...                   ...              ...                  ...           ...
8364                    1                1                    0             0
8365                    0                1                    0             0
8366                    1                1                    1             1
8367                    1                1                    0             1
8368                    1                1                    0             1

      Android Auto  ...  Usb Auxiliary Input  Vanity Mirror  \
0                0  ...                    0              1
1                0  ...                    1              1
2                0  ...                    1              1
3                0  ...                    1              1
4                0  ...                    1              1
...            ...  ...                  ...            ...
8364             0  ...                    1              1
8365             0  ...                    0              0
8366             0  ...                    0              1
8367             0  ...                    1              1
8368             0  ...                    1              1

      Vehicle Stability Control System  Ventilated Seats  View360Camera  \
0                                    0                 0              0
1                                    0                 0              0
2                                    1                 0              0
3                                    0                 0              0
4                                    0                 0              0
...                                ...               ...            ...
8364                                 0                 0              0
8365                                 0                 0              0
8366                                 1                 0              0
8367                                 0                 0              0
8368                                 1                 0              0

      Voice Control  Wheel Covers  Wifi Connectivity  Wireless Phone Charging  \
0                 0             1                  0                        0
1                 0             0                  0                        0
2                 0             1                  0                        0
3                 0             0                  0                        0
4                 1             0                  0                        0
...             ...           ...                ...                      ...
8364              0             1                  0                        0
8365              0             1                  0                        0
8366              0             0                  0                        0
8367              0             0                  0                        0
8368              1             0                  0                        0

      Xenon Headlamps
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
8364                0
8365                0
8366                0
8367                0
8368                0

[8369 rows x 173 columns]

In [53]:
# Create the final DataFrame from the list of rows
df_car_feature_encoded = pd.DataFrame(encoded_rows, columns=all_unique_features)

# Add the "No of Features" column, which counts the number of 1s in each row
df_car_feature_encoded['No of Features'] = df_car_feature_encoded.sum(axis=1)

# Display the resulting DataFrame
print(df_car_feature_encoded)

      Accessory Power Outlet  Active Noise Cancellation  \
0                          1                          0
1                          1                          0
2                          1                          0
3                          1                          0
4                          1                          0
...                      ...                        ...
8364                       1                          0
8365                       0                          0
8366                       1                          0
8367                       1                          0
8368                       1                          0

      Adjustable Head Lights  Adjustable Headrest  Adjustable Seats  \
0                          1                    0                 1
1                          1                    0                 1
2                          1                    0                 1
3                          1                    0                 1
4                          1                    0                 1
...                      ...                  ...               ...
8364                       1                    1                 1
8365                       1                    0                 1
8366                       1                    0                 1
8367                       1                    0                 1
8368                       1                    0                 1

      Adjustable Steering  Air Conditioner  Air Quality Control  Alloy Wheels  \
0                       0                1                    0             0
1                       1                1                    0             1
2                       1                1                    0             0
3                       1                1                    0             1
4                       1                1                    1             1
...                   ...              ...                  ...           ...
8364                    1                1                    0             0
8365                    0                1                    0             0
8366                    1                1                    1             1
8367                    1                1                    0             1
8368                    1                1                    0             1

      Android Auto  ...  Vanity Mirror  Vehicle Stability Control System  \
0                0  ...              1                                 0
1                0  ...              1                                 0
2                0  ...              1                                 1
3                0  ...              1                                 0
4                0  ...              1                                 0
...            ...  ...            ...                               ...
8364             0  ...              1                                 0
8365             0  ...              0                                 0
8366             0  ...              1                                 1
8367             0  ...              1                                 0
8368             0  ...              1                                 1

      Ventilated Seats  View360Camera  Voice Control  Wheel Covers  \
0                    0              0              0             1
1                    0              0              0             0
2                    0              0              0             1
3                    0              0              0             0
4                    0              0              1             0
...                ...            ...            ...           ...
8364                 0              0              0             1
8365                 0              0              0             1
8366                 0              0              0             0
8367                 0              0              0             0
8368                 0              0              1             0

      Wifi Connectivity  Wireless Phone Charging  Xenon Headlamps  \
0                     0                        0                0
1                     0                        0                0
2                     0                        0                0
3                     0                        0                0
4                     0                        0                0
...                 ...                      ...              ...
8364                  0                        0                0
8365                  0                        0                0
8366                  0                        0                0
8367                  0                        0                0
8368                  0                        0                0

      No of Features
0                 35
1                 77
2                 71
3                 61
4                 75
...              ...
8364              62
8365              27
8366              83
8367              59
8368              81

[8369 rows x 174 columns]

In [55]:
df_car_feature_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Columns: 174 entries, Accessory Power Outlet to No of Features
dtypes: int64(174)
memory usage: 11.1 MB

In [57]:
# Print each column name and dtype manually
for col, dtype in df_car_feature_encoded.dtypes.items():
    print(f"{col}: {dtype}")

Accessory Power Outlet: int64
Active Noise Cancellation: int64
Adjustable Head Lights: int64
Adjustable Headrest: int64
Adjustable Seats: int64
Adjustable Steering: int64
Air Conditioner: int64
Air Quality Control: int64
Alloy Wheels: int64
Android Auto: int64
Anti Lock Braking System: int64
Anti Pinch Power Windows: int64
Anti Theft Alarm: int64
Anti Theft Device: int64
Apple Car Play: int64
Audio System Remote Control: int64
Automatic Driving Lights: int64
Automatic Head Lamps: int64
Battery Saver: int64
Blind Spot Monitor: int64
Bluetooth: int64
Brake Assist: int64
Cassette Player: int64
Cd Changer: int64
Cd Player: int64
Centeral Locking: int64
Centrally Mounted Fuel Tank: int64
Child Safety Locks: int64
Chrome Garnish: int64
Chrome Grille: int64
Cigarette Lighter: int64
Clutch Lock: int64
Compass: int64
Cornering Foglamps: int64
Cornering Headlamps: int64
Crash Sensor: int64
Cruise Control: int64
Cup Holders Front: int64
Cup Holders Rear: int64
Day Night Rear View Mirror: int64
Digital Clock: int64
Digital Odometer: int64
Door Ajar Warning: int64
Drive Modes: int64
Driver Air Bag: int64
Driving Experience Control Eco: int64
Dual Tone Body Colour: int64
Dual Tone Dashboard: int64
Dvd Player: int64
Ebd: int64
Electric Folding Rear View Mirror: int64
Electronic Multi Tripmeter: int64
Eletronic Stability Control: int64
Engine Check Warning: int64
Engine Immobilizer: int64
Engine Start Stop Button: int64
Fabric Upholstery: int64
Find My Car Location: int64
Fog Lights Front: int64
Fog Lights Rear: int64
Follow Me Home Headlamps: int64
Front Impact Beams: int64
Gear Shift Indicator: int64
Geo Fence Alert: int64
Glove Box Cooling: int64
Glove Compartment: int64
Halogen Headlamps: int64
Hands Free Tailgate: int64
Headlamp Washers: int64
Heads Up Display: int64
Heated Wing Mirror: int64
Heater: int64
Height Adjustable Driver Seat: int64
Height Adjustable Front Seat Belts: int64
Hill Assist: int64
Hill Descent Control: int64
Impact Sensing Auto Door Lock: int64
Integrated Antenna: int64
Integrated2Din Audio: int64
Internal Storage: int64
Isofix Child Seat Mounts: int64
Keyless Entry: int64
Knee Airbags: int64
LEDDRLs: int64
LEDFog Lamps: int64
LEDHeadlights: int64
LEDTaillights: int64
Lane Change Indicator: int64
Lane Watch Camera: int64
Leather Seats: int64
Leather Steering Wheel: int64
Leather Wrap Gear Shift Selector: int64
Low Fuel Warning Light: int64
Luggage Hook And Net: int64
Manually Adjustable Exterior Rear View Mirror: int64
Mirror Link: int64
Moon Roof: int64
Multifunction Steering Wheel: int64
Navigation System: int64
No Of Airbags: int64
Number Of Speaker: int64
Outside Rear View Mirror Turn Indicators: int64
Outside Temperature Display: int64
Passenger Air Bag: int64
Passenger Side Rear View Mirror: int64
Power Adjustable Exterior Rear View Mirror: int64
Power Antenna: int64
Power Boot: int64
Power Door Locks: int64
Power Folding3rd Row Seat: int64
Power Steering: int64
Power Windows Front: int64
Power Windows Rear: int64
Pretensioners And Force Limiter Seatbelts: int64
Projector Headlamps: int64
Radio: int64
Rain Sensing Wiper: int64
Real Time Vehicle Tracking: int64
Rear ACVents: int64
Rear Camera: int64
Rear Entertainment System: int64
Rear Folding Table: int64
Rear Reading Lamp: int64
Rear Seat Belts: int64
Rear Seat Centre Arm Rest: int64
Rear Seat Headrest: int64
Rear Spoiler: int64
Rear Window Defogger: int64
Rear Window Washer: int64
Rear Window Wiper: int64
Remote Climate Control: int64
Remote Engine Start Stop: int64
Remote Fuel Lid Opener: int64
Remote Horn Light Control: int64
Remote Trunk Opener: int64
Removable Convertible Top: int64
Roof Carrier: int64
Roof Rail: int64
Seat Belt Warning: int64
Seat Lumbar Support: int64
Side Air Bag Front: int64
Side Air Bag Rear: int64
Side Impact Beams: int64
Side Stepper: int64
Smart Access Card Entry: int64
Smart Key Band: int64
Smoke Headlamps: int64
Sos Emergency Assistance: int64
Speakers Front: int64
Speakers Rear: int64
Speed Alert: int64
Speed Sensing Auto Door Lock: int64
Steering Mounted Tripmeter: int64
Steering Wheel Gearshift Paddles: int64
Sun Roof: int64
Tachometer: int64
Tailgate Ajar: int64
Tinted Glass: int64
Touch Screen: int64
Touch Screen Size: int64
Traction Control: int64
Trunk Light: int64
Tyre Pressure Monitor: int64
Usb Auxiliary Input: int64
Vanity Mirror: int64
Vehicle Stability Control System: int64
Ventilated Seats: int64
View360Camera: int64
Voice Control: int64
Wheel Covers: int64
Wifi Connectivity: int64
Wireless Phone Charging: int64
Xenon Headlamps: int64
No of Features: int64

In [59]:
import pandas as pd
import ast  # Use ast for safer evaluation

# Extracting the 'new_car_specs' column from merged_df
df_new_car_specs = merged_df['new_car_specs']

# Safely evaluate the strings in the Series to convert them into dictionaries
s = [ast.literal_eval(i) for i in df_new_car_specs]
df_new_car_specs_1 = pd.DataFrame(s)

# Extract the 'top' and 'data' sections
df_new_car_specs_1_top = df_new_car_specs_1['top']
df_new_car_specs_1_data = df_new_car_specs_1['data']

# Function to convert list of dictionaries to a single dictionary with key-value pairs
def convert_to_dict(row):
    return {item['key']: item['value'] for item in row}

# Convert the 'top' section into a DataFrame
all_data_top = df_new_car_specs_1_top.apply(convert_to_dict)
df_new_car_specs_top_flattened = pd.DataFrame(all_data_top.tolist())

# Flatten the 'data' section
flattened_data_list = []  # This will store multiple rows of flattened data

# Iterate through each row in the Series for the 'data' section
for specs_list in df_new_car_specs_1_data:
    flattened_data = {}  # Temporary dictionary to store the flattened row

    # Iterate through each section in specs_list
    for section in specs_list:
        # Check if the section is a dictionary
        if isinstance(section, dict):
            # Iterate over each dictionary in the 'list' within this section
            for item in section['list']:
                # Create a column name by merging subHeading and key
                column_name = f"{section['subHeading']} - {item['key']}"
                # Set the value for this column in the flattened dictionary
                flattened_data[column_name] = item['value']

    # Append the flattened row to the list
    flattened_data_list.append(flattened_data)

# Convert the list of flattened dictionaries into a DataFrame
df_new_car_specs_data_flattened = pd.DataFrame(flattened_data_list)

df_new_car_specs_flattened = pd.concat([df_new_car_specs_top_flattened, df_new_car_specs_data_flattened], axis=1)

# Display the final merged DataFrame
print(df_new_car_specs_flattened)

         Mileage   Engine  Max Power    Torque Seats Wheel Size  \
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
8364  25.24 kmpl   998 CC   65.71bhp      89Nm     5        NaN
8365  22.74 kmpl   796 CC    47.3bhp      69Nm     5        NaN
8366  11.74 kmpl  1796 CC     186bhp     285Nm     5         17
8367   18.5 kmpl  1197 CC   85.80bhp     114Nm     5         14
8368  19.72 kmpl  1461 CC  108.45bhp     245Nm     5         16

     Engine - Color      Engine - Engine Type Engine - Displacement  \
0             White               K10B Engine                   998
1             White      Ti-VCT Petrol Engine                  1497
2               Red           Revotron Engine                  1199
3            Others  Kappa VTVT Petrol Engine                  1197
4              Gray    DDiS 200 Diesel Engine                  1248
...             ...                       ...                   ...
8364         Others                      K10C                   998
8365         Others         F8D Petrol Engine                   796
8366         Others    Blue Efficiency Engine                  1796
8367         Others    K Series Petrol Engine                  1197
8368         Others     dCi THP Diesel Engine                  1461

     Engine - Max Power  ... Miscellaneous - Turning Radius  \
0      67.04bhp@6000rpm  ...                     4.7 metres
1     121.31bhp@6500rpm  ...                     5.3 metres
2         84bhp@6000rpm  ...                     4.9 meters
3      81.86bhp@6000rpm  ...                     4.7 metres
4       88.5bhp@4000rpm  ...                     5.2 meters
...                 ...  ...                            ...
8364   65.71bhp@5500rpm  ...                            NaN
8365    47.3bhp@6000rpm  ...                     4.6 metres
8366     186bhp@5600rpm  ...                    5.42 metres
8367   85.80bhp@6000rpm  ...                     4.7 metres
8368  108.45bhp@4000rpm  ...                     5.2 metres

      Miscellaneous - Front Brake Type  Miscellaneous - Rear Brake Type  \
0                      Ventilated Disc                             Drum
1                      Ventilated Disc                             Drum
2                                 Disc                             Drum
3                                Disc                              Drum
4                      Ventilated Disc                       Solid Disc
...                                ...                              ...
8364                   Ventilated Disc                             Drum
8365                        Solid Disc                             Drum
8366                   Ventilated Disc                       Solid Disc
8367                   Ventilated Disc                             Drum
8368                              Disc                             Drum

     Miscellaneous - Top Speed Miscellaneous - Acceleration  \
0                     150 Kmph                15.05 Seconds
1                          NaN                          NaN
2                     150 kmph                 14.3 Seconds
3                     172km/hr                 14.2 Seconds
4                     190 Kmph                   12 Seconds
...                        ...                          ...
8364                       NaN                          NaN
8365                  140 kmph                   19 Seconds
8366                  230km/hr                  8.8 Seconds
8367                  156 Kmph                   15 Seconds
8368                  168 Kmph                14.20 Seconds

     Miscellaneous - Tyre Type Miscellaneous - No Door Numbers  \
0             Tubeless, Radial                               5
1              Tubeless,Radial                               4
2                     Tubeless                               5
3              Tubeless,Radial                               4
4              Tubeless,Radial                               5
...                        ...                             ...
8364          Tubeless, Radial                               5
8365            Tubeless Tyres                               5
8366           Tubeless,Radial                               4
8367           Tubeless,Radial                               5
8368           Tubeless,Radial                               5

     Miscellaneous - Cargo Volumn Miscellaneous - Alloy Wheel Size  \
0                      235-litres                              NaN
1                      352-litres                               16
2                      242-litres                               14
3                      407-litres                               14
4                      353-litres                               16
...                           ...                              ...
8364                          313                              NaN
8365                   177-litres                              NaN
8366                   475-litres                               17
8367                   236-liters                               14
8368                   410-litres                               16

     Dimensions - Ground Clearance Unladen
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
8364                                   NaN
8365                                   NaN
8366                                   NaN
8367                                   NaN
8368                                   NaN

[8369 rows x 41 columns]

In [61]:
df_new_car_specs_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 41 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Mileage                                8082 non-null   object
 1   Engine                                 8365 non-null   object
 2   Max Power                              8309 non-null   object
 3   Torque                                 8309 non-null   object
 4   Seats                                  8364 non-null   object
 5   Wheel Size                             5386 non-null   object
 6   Engine - Color                         8366 non-null   object
 7   Engine - Engine Type                   8074 non-null   object
 8   Engine - Displacement                  8365 non-null   object
 9   Engine - Max Power                     8309 non-null   object
 10  Engine - Max Torque                    8309 non-null   object
 11  Engine - No of Cylinder                8338 non-null   float64
 12  Engine - Values per Cylinder           8318 non-null   float64
 13  Engine - Value Configuration           6153 non-null   object
 14  Engine - Fuel Suppy System             6642 non-null   object
 15  Engine - BoreX Stroke                  2405 non-null   object
 16  Engine - Compression Ratio             1895 non-null   object
 17  Engine - Turbo Charger                 7329 non-null   object
 18  Engine - Super Charger                 6407 non-null   object
 19  Dimensions - Length                    8290 non-null   object
 20  Dimensions - Width                     8286 non-null   object
 21  Dimensions - Height                    8290 non-null   object
 22  Dimensions - Wheel Base                8206 non-null   object
 23  Dimensions - Front Tread               4811 non-null   object
 24  Dimensions - Rear Tread                4799 non-null   object
 25  Dimensions - Kerb Weight               8310 non-null   object
 26  Dimensions - Gross Weight              3828 non-null   object
 27  Miscellaneous - Gear Box               8263 non-null   object
 28  Miscellaneous - Drive Type             6809 non-null   object
 29  Miscellaneous - Seating Capacity       8363 non-null   object
 30  Miscellaneous - Steering Type          8114 non-null   object
 31  Miscellaneous - Turning Radius         6769 non-null   object
 32  Miscellaneous - Front Brake Type       8273 non-null   object
 33  Miscellaneous - Rear Brake Type        8273 non-null   object
 34  Miscellaneous - Top Speed              4607 non-null   object
 35  Miscellaneous - Acceleration           4857 non-null   object
 36  Miscellaneous - Tyre Type              8292 non-null   object
 37  Miscellaneous - No Door Numbers        8358 non-null   object
 38  Miscellaneous - Cargo Volumn           6776 non-null   object
 39  Miscellaneous - Alloy Wheel Size       5386 non-null   object
 40  Dimensions - Ground Clearance Unladen  515 non-null    object
dtypes: float64(2), object(39)
memory usage: 2.6+ MB

In [63]:
df_new_car_merged_flattened = pd.concat([df_new_car_detail_flattened,df_new_car_overview_flattened,df_car_feature_encoded,df_new_car_specs_flattened], ignore_index=False, axis=1)
df_new_car_merged_flattened

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Turning Radius,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Miscellaneous - Alloy Wheel Size,Dimensions - Ground Clearance Unladen
0,0,Petrol,Hatchback,120000,Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
1,0,Petrol,SUV,32706,Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,NaN
2,0,Petrol,Hatchback,11949,Manual,1,1st Owner,Tata,Tata Tiago,2018,...,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,NaN
3,0,Petrol,Sedan,17794,Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,NaN
4,0,Diesel,SUV,60000,Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,10000,Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,Ventilated Disc,Drum,NaN,NaN,"Tubeless, Radial",5,313,NaN,NaN
8365,0,Petrol,Hatchback,120000,Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,4.6 metres,Solid Disc,Drum,140 kmph,19 Seconds,Tubeless Tyres,5,177-litres,NaN,NaN
8366,0,Petrol,Sedan,50000,Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,5.42 metres,Ventilated Disc,Solid Disc,230km/hr,8.8 Seconds,"Tubeless,Radial",4,475-litres,17,NaN
8367,0,Petrol,Hatchback,40000,Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,4.7 metres,Ventilated Disc,Drum,156 Kmph,15 Seconds,"Tubeless,Radial",5,236-liters,14,NaN
8368,0,Diesel,SUV,120000,Manual,2,2nd Owner,Renault,Renault Duster,2017,...,5.2 metres,Disc,Drum,168 Kmph,14.20 Seconds,"Tubeless,Radial",5,410-litres,16,NaN

In [65]:
import numpy as np
import pandas as pd

# Assuming df_new_car_merged_flattened exists, extract the required columns
df_new_car_merged_flattened_temp_1 = df_new_car_merged_flattened[['Mileage', 'Engine', 'Max Power', 'Torque', 'Seats', 'Wheel Size', 'ft', 'Car overview - Fuel Type']]

# Clean the Mileage column by removing units (km/kg and KMPL)
df_new_car_merged_flattened_temp_1['Mileage'] = df_new_car_merged_flattened_temp_1['Mileage'].str.replace(' km/kg', '', case=False)
df_new_car_merged_flattened_temp_1['Mileage'] = df_new_car_merged_flattened_temp_1['Mileage'].str.replace(' KMPL', '', case=False)

# Convert Mileage to numeric
df_new_car_merged_flattened_temp_1['Mileage'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Mileage'], errors='coerce')

# Conversion factors for CNG and LPG to kmpl
cng_to_kmpl = 1.39
lpg_to_kmpl = 1.82

# Apply the conversion to Mileage in kmpl based on Fuel Type
df_new_car_merged_flattened_temp_1['Mileage'] = np.where(df_new_car_merged_flattened_temp_1['Car overview - Fuel Type'] == 'CNG', 
                                                         df_new_car_merged_flattened_temp_1['Mileage'] * cng_to_kmpl,
                                                         np.where(df_new_car_merged_flattened_temp_1['Car overview - Fuel Type'] == 'LPG', 
                                                                  df_new_car_merged_flattened_temp_1['Mileage'] * lpg_to_kmpl,
                                                                  df_new_car_merged_flattened_temp_1['Mileage']))

# Rename columns in the temporary DataFrame
df_new_car_merged_flattened_temp_1.rename(columns={'Engine': 'Engine(CC)',
                                                   'Max Power': 'Max Power(bhp)',
                                                   'Torque': 'Torque(Nm)'}, inplace=True)

# Function to clean specific columns (remove units and convert to numeric)
def clean_column(df, column_name, remove_str, to_numeric=True):
    df[column_name] = df[column_name].astype(str)  # Convert to string to avoid errors
    df[column_name] = df[column_name].str.replace(remove_str, '', case=False).str.strip()  # Remove unwanted string
    if to_numeric:
        df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Convert to numeric

# Clean Engine(CC), Max Power(bhp), Torque(Nm) columns
clean_column(df_new_car_merged_flattened_temp_1, 'Engine(CC)', 'CC')
clean_column(df_new_car_merged_flattened_temp_1, 'Max Power(bhp)', 'bhp')
clean_column(df_new_car_merged_flattened_temp_1, 'Torque(Nm)', 'Nm')

# Clean Seats column (convert to numeric)
df_new_car_merged_flattened_temp_1['Seats'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Seats'], errors='coerce')

# Clean Wheel Size column by removing 'R' and '"' and then convert to numeric
df_new_car_merged_flattened_temp_1['Wheel Size'] = df_new_car_merged_flattened_temp_1['Wheel Size'].astype(str)
df_new_car_merged_flattened_temp_1['Wheel Size'] = df_new_car_merged_flattened_temp_1['Wheel Size'].str.replace('R', '', case=False).str.replace('"', '').str.strip()
df_new_car_merged_flattened_temp_1['Wheel Size'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Wheel Size'], errors='coerce')

# List of columns to fill NaN values with their respective means
columns_to_fill = ['Mileage', 'Engine(CC)', 'Max Power(bhp)', 'Torque(Nm)', 'Seats', 'Wheel Size']

# Fill NaN values in specified columns with their mean values
for column in columns_to_fill:
    mean_value = df_new_car_merged_flattened_temp_1[column].mean()
    df_new_car_merged_flattened_temp_1[column].fillna(mean_value, inplace=True)

# Rename the same columns in the original DataFrame
df_new_car_merged_flattened.rename(columns={'Engine': 'Engine(CC)',
                                            'Max Power': 'Max Power(bhp)',
                                            'Torque': 'Torque(Nm)'}, inplace=True)

# Update the original DataFrame with the cleaned and transformed data
df_new_car_merged_flattened.update(df_new_car_merged_flattened_temp_1)

# Optional: Verify the updated columns for NaN values (should be 0 after filling)
print(df_new_car_merged_flattened[columns_to_fill].isnull().sum())

# Check the updated DataFrame
print(df_new_car_merged_flattened[columns_to_fill].head())

Mileage           0
Engine(CC)        0
Max Power(bhp)    0
Torque(Nm)        0
Seats             0
Wheel Size        0
dtype: int64
  Mileage Engine(CC) Max Power(bhp) Torque(Nm) Seats Wheel Size
0    23.1      998.0          67.04       90.0   5.0  15.697549
1    17.0     1497.0         121.31      150.0   5.0       16.0
2   23.84     1199.0           84.0      114.0   5.0       14.0
3    19.1     1197.0          81.86     113.75   5.0       14.0
4   23.65     1248.0           88.5      200.0   5.0       16.0

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Mileage'] = df_new_car_merged_flattened_temp_1['Mileage'].str.replace(' km/kg', '', case=False)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Mileage'] = df_new_car_merged_flattened_temp_1['Mileage'].str.replace(' KMPL', '', case=False)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Mileage'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Mileage'], errors='coerce')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Mileage'] = np.where(df_new_car_merged_flattened_temp_1['Car overview - Fuel Type'] == 'CNG',
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1.rename(columns={'Engine': 'Engine(CC)',
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].astype(str)  # Convert to string to avoid errors
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].str.replace(remove_str, '', case=False).str.strip()  # Remove unwanted string
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Convert to numeric
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].astype(str)  # Convert to string to avoid errors
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].str.replace(remove_str, '', case=False).str.strip()  # Remove unwanted string
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Convert to numeric
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].astype(str)  # Convert to string to avoid errors
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].str.replace(remove_str, '', case=False).str.strip()  # Remove unwanted string
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Convert to numeric
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Seats'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Seats'], errors='coerce')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Wheel Size'] = df_new_car_merged_flattened_temp_1['Wheel Size'].astype(str)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Wheel Size'] = df_new_car_merged_flattened_temp_1['Wheel Size'].str.replace('R', '', case=False).str.replace('"', '').str.strip()
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1['Wheel Size'] = pd.to_numeric(df_new_car_merged_flattened_temp_1['Wheel Size'], errors='coerce')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_1[column].fillna(mean_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\3807995180.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_1[column].fillna(mean_value, inplace=True)

In [67]:
import numpy as np
import pandas as pd

# Extract the relevant columns from df_new_car_merged_flattened
df_new_car_merged_flattened_temp_2 = df_new_car_merged_flattened[['Engine - Color', 'Engine - Engine Type', 'Engine - Displacement',
       'Engine - Max Power', 'Engine - Max Torque', 'Engine - No of Cylinder',
       'Engine - Values per Cylinder', 'Engine - Value Configuration',
       'Engine - Fuel Suppy System', 'Engine - BoreX Stroke',
       'Engine - Compression Ratio', 'Engine - Turbo Charger',
       'Engine - Super Charger']]

# Convert the relevant columns to 'category' data type
categorical_columns = [
    'Engine - Color', 'Engine - Engine Type', 'Engine - Value Configuration',
    'Engine - Fuel Suppy System', 'Engine - Turbo Charger', 'Engine - Super Charger',
    'Engine - Displacement', 'Engine - Max Power', 'Engine - Max Torque'
]

for column in categorical_columns:
    df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')

# Fill missing values in categorical columns with the most frequent value (mode)
for column in categorical_columns:
    top_value = df_new_car_merged_flattened_temp_2[column].mode()[0]
    df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)

# Additional categorical columns to clean
additional_categorical_columns = ['Engine - BoreX Stroke', 'Engine - Compression Ratio']

for column in additional_categorical_columns:
    top_value = df_new_car_merged_flattened_temp_2[column].mode()[0]
    df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)

# Fill missing values in numeric columns with the 75th percentile
numeric_columns = ['Engine - No of Cylinder', 'Engine - Values per Cylinder']

for column in numeric_columns:
    seventy_five_percentile_value = df_new_car_merged_flattened_temp_2[column].quantile(0.75)
    df_new_car_merged_flattened_temp_2[column].fillna(seventy_five_percentile_value, inplace=True)

# Update the original DataFrame with cleaned data from df_new_car_merged_flattened_temp_2
columns_to_update = [
    'Engine - Color', 'Engine - Engine Type', 'Engine - Displacement', 'Engine - Max Power', 
    'Engine - Max Torque', 'Engine - No of Cylinder', 'Engine - Values per Cylinder', 
    'Engine - Value Configuration', 'Engine - Fuel Suppy System', 'Engine - BoreX Stroke', 
    'Engine - Compression Ratio', 'Engine - Turbo Charger', 'Engine - Super Charger'
]

df_new_car_merged_flattened.loc[df_new_car_merged_flattened_temp_2.index, columns_to_update] = df_new_car_merged_flattened_temp_2[columns_to_update]

# Verify the changes in the original DataFrame
print("Updated values:")
print(df_new_car_merged_flattened[columns_to_update].head())

# Check for any NaN values in the updated columns
print("\nCount of NaN values after update:")
print(df_new_car_merged_flattened[columns_to_update].isnull().sum())

# Display summary statistics for the updated columns
print("\nSummary statistics for updated columns:")
print(df_new_car_merged_flattened[columns_to_update].describe(include='all'))

# Optionally, compare original and updated values to see changes
for column in columns_to_update:
    changes = df_new_car_merged_flattened_temp_2[column].compare(df_new_car_merged_flattened[column], keep_shape=True, keep_equal=True)
    if not changes.empty:
        print(f"\nChanges in {column}:")
        print(changes)

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column] = df_new_car_merged_flattened_temp_2[column].astype('category')
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column].fillna(top_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_2[column].fillna(seventy_five_percentile_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column].fillna(seventy_five_percentile_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_2[column].fillna(seventy_five_percentile_value, inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\732265017.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_2[column].fillna(seventy_five_percentile_value, inplace=True)

Updated values:
  Engine - Color      Engine - Engine Type Engine - Displacement  \
0          White               K10B Engine                   998
1          White      Ti-VCT Petrol Engine                  1497
2            Red           Revotron Engine                  1199
3         Others  Kappa VTVT Petrol Engine                  1197
4           Gray    DDiS 200 Diesel Engine                  1248

  Engine - Max Power Engine - Max Torque  Engine - No of Cylinder  \
0   67.04bhp@6000rpm        90Nm@3500rpm                      3.0
1  121.31bhp@6500rpm       150Nm@4500rpm                      3.0
2      84bhp@6000rpm       114Nm@3500rpm                      3.0
3   81.86bhp@6000rpm    113.75Nm@4000rpm                      4.0
4    88.5bhp@4000rpm       200Nm@1750rpm                      4.0

   Engine - Values per Cylinder Engine - Value Configuration  \
0                           4.0                         DOHC
1                           4.0                         DOHC
2                           4.0                         DOHC
3                           4.0                         DOHC
4                           4.0                         DOHC

  Engine - Fuel Suppy System Engine - BoreX Stroke Engine - Compression Ratio  \
0                       MPFi            73 X 82 mm                     11.0:1
1           Direct Injection          79 X 76.5 mm                     11.0:1
2                       MPFi          77 X 85.8 mm                     10.8:1
3           Direct Injection        73.0 X 89.4 mm                     10.5:1
4                       MPFI          69.6 x 82 mm                     10.5:1

  Engine - Turbo Charger Engine - Super Charger
0                     No                     No
1                     No                     No
2                     No                     No
3                     No                     No
4                    Yes                     No

Count of NaN values after update:
Engine - Color                  0
Engine - Engine Type            0
Engine - Displacement           0
Engine - Max Power              0
Engine - Max Torque             0
Engine - No of Cylinder         0
Engine - Values per Cylinder    0
Engine - Value Configuration    0
Engine - Fuel Suppy System      0
Engine - BoreX Stroke           0
Engine - Compression Ratio      0
Engine - Turbo Charger          0
Engine - Super Charger          0
dtype: int64

Summary statistics for updated columns:
       Engine - Color Engine - Engine Type Engine - Displacement  \
count            8369                 8369                  8369
unique            153                  508                   150
top            Others       In-Line Engine                  1197
freq             2171                  779                  1611
mean              NaN                  NaN                   NaN
std               NaN                  NaN                   NaN
min               NaN                  NaN                   NaN
25%               NaN                  NaN                   NaN
50%               NaN                  NaN                   NaN
75%               NaN                  NaN                   NaN
max               NaN                  NaN                   NaN

       Engine - Max Power Engine - Max Torque  Engine - No of Cylinder  \
count                8369                8369              8369.000000
unique                760                 617                      NaN
top      81.80bhp@6000rpm        90Nm@3500rpm                      NaN
freq                  351                 438                      NaN
mean                  NaN                 NaN                 3.803202
std                   NaN                 NaN                 0.593632
min                   NaN                 NaN                 2.000000
25%                   NaN                 NaN                 4.000000
50%                   NaN                 NaN                 4.000000
75%                   NaN                 NaN                 4.000000
max                   NaN                 NaN                23.000000

        Engine - Values per Cylinder Engine - Value Configuration  \
count                    8369.000000                         8369
unique                           NaN                           13
top                              NaN                         DOHC
freq                             NaN                         6942
mean                        3.934759                          NaN
std                         0.790296                          NaN
min                         2.000000                          NaN
25%                         4.000000                          NaN
50%                         4.000000                          NaN
75%                         4.000000                          NaN
max                        69.000000                          NaN

       Engine - Fuel Suppy System Engine - BoreX Stroke  \
count                        8369                  8369
unique                         81                   171
top                          MPFI        73.0 X 89.4 mm
freq                         3817                  6179
mean                          NaN                   NaN
std                           NaN                   NaN
min                           NaN                   NaN
25%                           NaN                   NaN
50%                           NaN                   NaN
75%                           NaN                   NaN
max                           NaN                   NaN

       Engine - Compression Ratio Engine - Turbo Charger  \
count                        8369                   8369
unique                         79                      9
top                        10.5:1                     No
freq                         6762                   5271
mean                          NaN                    NaN
std                           NaN                    NaN
min                           NaN                    NaN
25%                           NaN                    NaN
50%                           NaN                    NaN
75%                           NaN                    NaN
max                           NaN                    NaN

       Engine - Super Charger
count                    8369
unique                      5
top                        No
freq                     8349
mean                      NaN
std                       NaN
min                       NaN
25%                       NaN
50%                       NaN
75%                       NaN
max                       NaN

Changes in Engine - Color:
        self   other
0      White   White
1      White   White
2        Red     Red
3     Others  Others
4       Gray    Gray
...      ...     ...
8364  Others  Others
8365  Others  Others
8366  Others  Others
8367  Others  Others
8368  Others  Others

[8369 rows x 2 columns]

Changes in Engine - Engine Type:
                          self                     other
0                  K10B Engine               K10B Engine
1         Ti-VCT Petrol Engine      Ti-VCT Petrol Engine
2              Revotron Engine           Revotron Engine
3     Kappa VTVT Petrol Engine  Kappa VTVT Petrol Engine
4       DDiS 200 Diesel Engine    DDiS 200 Diesel Engine
...                        ...                       ...
8364                      K10C                      K10C
8365         F8D Petrol Engine         F8D Petrol Engine
8366    Blue Efficiency Engine    Blue Efficiency Engine
8367    K Series Petrol Engine    K Series Petrol Engine
8368     dCi THP Diesel Engine     dCi THP Diesel Engine

[8369 rows x 2 columns]

Changes in Engine - Displacement:
      self other
0      998   998
1     1497  1497
2     1199  1199
3     1197  1197
4     1248  1248
...    ...   ...
8364   998   998
8365   796   796
8366  1796  1796
8367  1197  1197
8368  1461  1461

[8369 rows x 2 columns]

Changes in Engine - Max Power:
                   self              other
0      67.04bhp@6000rpm   67.04bhp@6000rpm
1     121.31bhp@6500rpm  121.31bhp@6500rpm
2         84bhp@6000rpm      84bhp@6000rpm
3      81.86bhp@6000rpm   81.86bhp@6000rpm
4       88.5bhp@4000rpm    88.5bhp@4000rpm
...                 ...                ...
8364   65.71bhp@5500rpm   65.71bhp@5500rpm
8365    47.3bhp@6000rpm    47.3bhp@6000rpm
8366     186bhp@5600rpm     186bhp@5600rpm
8367   85.80bhp@6000rpm   85.80bhp@6000rpm
8368  108.45bhp@4000rpm  108.45bhp@4000rpm

[8369 rows x 2 columns]

Changes in Engine - Max Torque:
                    self               other
0           90Nm@3500rpm        90Nm@3500rpm
1          150Nm@4500rpm       150Nm@4500rpm
2          114Nm@3500rpm       114Nm@3500rpm
3       113.75Nm@4000rpm    113.75Nm@4000rpm
4          200Nm@1750rpm       200Nm@1750rpm
...                  ...                 ...
8364        89Nm@3500rpm        89Nm@3500rpm
8365        69Nm@3500rpm        69Nm@3500rpm
8366  285Nm@2400-4000rpm  285Nm@2400-4000rpm
8367       114Nm@4000rpm       114Nm@4000rpm
8368       245Nm@1750rpm       245Nm@1750rpm

[8369 rows x 2 columns]

Changes in Engine - No of Cylinder:
      self  other
0      3.0    3.0
1      3.0    3.0
2      3.0    3.0
3      4.0    4.0
4      4.0    4.0
...    ...    ...
8364   3.0    3.0
8365   3.0    3.0
8366   4.0    4.0
8367   4.0    4.0
8368   4.0    4.0

[8369 rows x 2 columns]

Changes in Engine - Values per Cylinder:
      self  other
0      4.0    4.0
1      4.0    4.0
2      4.0    4.0
3      4.0    4.0
4      4.0    4.0
...    ...    ...
8364   4.0    4.0
8365   4.0    4.0
8366   4.0    4.0
8367   4.0    4.0
8368   4.0    4.0

[8369 rows x 2 columns]

Changes in Engine - Value Configuration:
      self other
0     DOHC  DOHC
1     DOHC  DOHC
2     DOHC  DOHC
3     DOHC  DOHC
4     DOHC  DOHC
...    ...   ...
8364  DOHC  DOHC
8365  DOHC  DOHC
8366  DOHC  DOHC
8367  DOHC  DOHC
8368  DOHC  DOHC

[8369 rows x 2 columns]

Changes in Engine - Fuel Suppy System:
                  self             other
0                 MPFi              MPFi
1     Direct Injection  Direct Injection
2                 MPFi              MPFi
3     Direct Injection  Direct Injection
4                 MPFI              MPFI
...                ...               ...
8364              MPFI              MPFI
8365              MPFi              MPFi
8366              Mpfi              Mpfi
8367              MPFI              MPFI
8368              CRDi              CRDi

[8369 rows x 2 columns]

Changes in Engine - BoreX Stroke:
                self           other
0         73 X 82 mm      73 X 82 mm
1       79 X 76.5 mm    79 X 76.5 mm
2       77 X 85.8 mm    77 X 85.8 mm
3     73.0 X 89.4 mm  73.0 X 89.4 mm
4       69.6 x 82 mm    69.6 x 82 mm
...              ...             ...
8364  73.0 X 89.4 mm  73.0 X 89.4 mm
8365  73.0 X 89.4 mm  73.0 X 89.4 mm
8366  73.0 X 89.4 mm  73.0 X 89.4 mm
8367  73.0 X 89.4 mm  73.0 X 89.4 mm
8368  73.0 X 89.4 mm  73.0 X 89.4 mm

[8369 rows x 2 columns]

Changes in Engine - Compression Ratio:
        self   other
0     11.0:1  11.0:1
1     11.0:1  11.0:1
2     10.8:1  10.8:1
3     10.5:1  10.5:1
4     10.5:1  10.5:1
...      ...     ...
8364  10.5:1  10.5:1
8365  10.5:1  10.5:1
8366   9.3:1   9.3:1
8367  10.5:1  10.5:1
8368  10.5:1  10.5:1

[8369 rows x 2 columns]

Changes in Engine - Turbo Charger:
     self other
0      No    No
1      No    No
2      No    No
3      No    No
4     Yes   Yes
...   ...   ...
8364   No    No
8365   No    No
8366   No    No
8367   No    No
8368  Yes   Yes

[8369 rows x 2 columns]

Changes in Engine - Super Charger:
     self other
0      No    No
1      No    No
2      No    No
3      No    No
4      No    No
...   ...   ...
8364   No    No
8365   No    No
8366   No    No
8367   No    No
8368   No    No

[8369 rows x 2 columns]

In [69]:
import pandas as pd

# Step 1: Extract the relevant columns for dimensions and weights
df_new_car_merged_flattened_temp_3 = df_new_car_merged_flattened[['Dimensions - Length', 'Dimensions - Width',
       'Dimensions - Height', 'Dimensions - Wheel Base',
       'Dimensions - Front Tread', 'Dimensions - Rear Tread',
       'Dimensions - Kerb Weight', 'Dimensions - Gross Weight']]

# Display the extracted DataFrame and info
print("Extracted Dimensions DataFrame:")
print(df_new_car_merged_flattened_temp_3)
df_new_car_merged_flattened_temp_3.info()

# Check for null values
print("\nNull values in each column:")
print(df_new_car_merged_flattened_temp_3.isnull().sum())

# Step 2: Define the columns to rename
dimension_columns = [
    'Dimensions - Length', 
    'Dimensions - Width', 
    'Dimensions - Height', 
    'Dimensions - Wheel Base', 
    'Dimensions - Front Tread', 
    'Dimensions - Rear Tread'
]

# Rename the columns by appending '(mm)' in the original DataFrame
df_new_car_merged_flattened.rename(columns={col: f"{col} (mm)" for col in dimension_columns}, inplace=True)

# Define the columns to rename for weight
weight_columns = [
    'Dimensions - Kerb Weight', 
    'Dimensions - Gross Weight'
]

# Rename the columns by appending '(kg)' in the original DataFrame
df_new_car_merged_flattened.rename(columns={col: f"{col} (kg)" for col in weight_columns}, inplace=True)

# Step 3: List of columns to clean by removing 'mm' and 'kg'
columns_to_clean = [
    'Dimensions - Length (mm)', 
    'Dimensions - Width (mm)', 
    'Dimensions - Height (mm)', 
    'Dimensions - Wheel Base (mm)', 
    'Dimensions - Front Tread (mm)', 
    'Dimensions - Rear Tread (mm)', 
    'Dimensions - Kerb Weight (kg)', 
    'Dimensions - Gross Weight (kg)'
]

# Remove 'mm' and 'kg' from the specified columns in the original DataFrame (if they were strings)
for column in columns_to_clean:
    if df_new_car_merged_flattened[column].dtype == object:  # Check if the column is of type string
        df_new_car_merged_flattened[column] = (
            df_new_car_merged_flattened[column]
            .str.replace('mm', '', case=False)
            .str.replace('kg', '', case=False)
            .str.strip()  # Remove leading/trailing spaces
        )

# Step 4: Convert columns to numeric in the original DataFrame
for column in columns_to_clean:
    df_new_car_merged_flattened[column] = pd.to_numeric(df_new_car_merged_flattened[column], errors='coerce')

# Verify the changes
print(df_new_car_merged_flattened[columns_to_clean].head())
df_new_car_merged_flattened.info()

# Step 5: Fill null values with the mean of each specified column in the original DataFrame
columns_to_fill = columns_to_clean  # Using the same columns to fill as we cleaned
for column in columns_to_fill:
    mean_value = df_new_car_merged_flattened[column].mean()  # Calculate mean
    df_new_car_merged_flattened[column].fillna(mean_value, inplace=True)  # Fill nulls with mean

# Verify that there are no more null values in the specified columns in the original DataFrame
print("\nNull values after filling in original DataFrame:")
print(df_new_car_merged_flattened[columns_to_fill].isnull().sum())

# Verify the changes in the original DataFrame
print("\nUpdated values in original DataFrame:")
print(df_new_car_merged_flattened[columns_to_fill].head())
print("\nInfo on updated columns in original DataFrame:")
df_new_car_merged_flattened[columns_to_fill].info()

Extracted Dimensions DataFrame:
     Dimensions - Length Dimensions - Width Dimensions - Height  \
0                 3715mm             1635mm              1565mm
1                 3998mm             1765mm              1647mm
2                 3746mm             1647mm              1535mm
3                 3995mm             1660mm              1520mm
4                 4300mm             1785mm              1595mm
...                  ...                ...                 ...
8364              3695mm               1655                1555
8365              3395mm             1490mm              1475mm
8366              4591mm             1770mm              1447mm
8367              3775mm             1680mm              1620mm
8368              4315mm             1822mm              1695mm

     Dimensions - Wheel Base Dimensions - Front Tread Dimensions - Rear Tread  \
0                     2425mm                   1420mm                  1410mm
1                     2519mm                      NaN                     NaN
2                     2400mm                   1400mm                  1420mm
3                     2425mm                   1479mm                  1493mm
4                     2600mm                      NaN                     NaN
...                      ...                      ...                     ...
8364                    2435                     1430                    1440
8365                  2360mm                   1295mm                  1290mm
8366                  2760mm                   1549mm                  1552mm
8367                  2360mm                   1470mm                  1480mm
8368                  2673mm                   1560mm                  1567mm

     Dimensions - Kerb Weight Dimensions - Gross Weight
0                       835kg                    1250kg
1                      1242Kg                    1660Kg
2                      1012kg                       NaN
3                        1180                       NaN
4                      1230Kg                    1670kg
...                       ...                       ...
8364                      810                      1260
8365                    720kg                    1185kg
8366                   1585kg                    2020kg
8367                   1030kg                    1430kg
8368                     1350                    1889kg

[8369 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Dimensions - Length        8290 non-null   object
 1   Dimensions - Width         8286 non-null   object
 2   Dimensions - Height        8290 non-null   object
 3   Dimensions - Wheel Base    8206 non-null   object
 4   Dimensions - Front Tread   4811 non-null   object
 5   Dimensions - Rear Tread    4799 non-null   object
 6   Dimensions - Kerb Weight   8310 non-null   object
 7   Dimensions - Gross Weight  3828 non-null   object
dtypes: object(8)
memory usage: 523.2+ KB

Null values in each column:
Dimensions - Length            79
Dimensions - Width             83
Dimensions - Height            79
Dimensions - Wheel Base       163
Dimensions - Front Tread     3558
Dimensions - Rear Tread      3570
Dimensions - Kerb Weight       59
Dimensions - Gross Weight    4541
dtype: int64
   Dimensions - Length (mm)  Dimensions - Width (mm)  \
0                    3715.0                   1635.0
1                    3998.0                   1765.0
2                    3746.0                   1647.0
3                    3995.0                   1660.0
4                    4300.0                   1785.0

   Dimensions - Height (mm)  Dimensions - Wheel Base (mm)  \
0                    1565.0                        2425.0
1                    1647.0                        2519.0
2                    1535.0                        2400.0
3                    1520.0                        2425.0
4                    1595.0                        2600.0

   Dimensions - Front Tread (mm)  Dimensions - Rear Tread (mm)  \
0                         1420.0                        1410.0
1                            NaN                           NaN
2                         1400.0                        1420.0
3                         1479.0                        1493.0
4                            NaN                           NaN

   Dimensions - Kerb Weight (kg)  Dimensions - Gross Weight (kg)
0                          835.0                          1250.0
1                         1242.0                          1660.0
2                         1012.0                             NaN
3                         1180.0                             NaN
4                         1230.0                          1670.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Columns: 239 entries, it to Dimensions - Ground Clearance Unladen
dtypes: category(14), float64(11), int32(2), int64(180), object(32)
memory usage: 14.6+ MB

Null values after filling in original DataFrame:
Dimensions - Length (mm)          0
Dimensions - Width (mm)           0
Dimensions - Height (mm)          0
Dimensions - Wheel Base (mm)      0
Dimensions - Front Tread (mm)     0
Dimensions - Rear Tread (mm)      0
Dimensions - Kerb Weight (kg)     0
Dimensions - Gross Weight (kg)    0
dtype: int64

Updated values in original DataFrame:
   Dimensions - Length (mm)  Dimensions - Width (mm)  \
0                    3715.0                   1635.0
1                    3998.0                   1765.0
2                    3746.0                   1647.0
3                    3995.0                   1660.0
4                    4300.0                   1785.0

   Dimensions - Height (mm)  Dimensions - Wheel Base (mm)  \
0                    1565.0                        2425.0
1                    1647.0                        2519.0
2                    1535.0                        2400.0
3                    1520.0                        2425.0
4                    1595.0                        2600.0

   Dimensions - Front Tread (mm)  Dimensions - Rear Tread (mm)  \
0                    1420.000000                   1410.000000
1                    1478.422882                   1479.173674
2                    1400.000000                   1420.000000
3                    1479.000000                   1493.000000
4                    1478.422882                   1479.173674

   Dimensions - Kerb Weight (kg)  Dimensions - Gross Weight (kg)
0                          835.0                     1250.000000
1                         1242.0                     1660.000000
2                         1012.0                     1673.126172
3                         1180.0                     1673.126172
4                         1230.0                     1670.000000

Info on updated columns in original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Dimensions - Length (mm)        8369 non-null   float64
 1   Dimensions - Width (mm)         8369 non-null   float64
 2   Dimensions - Height (mm)        8369 non-null   float64
 3   Dimensions - Wheel Base (mm)    8369 non-null   float64
 4   Dimensions - Front Tread (mm)   8369 non-null   float64
 5   Dimensions - Rear Tread (mm)    8369 non-null   float64
 6   Dimensions - Kerb Weight (kg)   8369 non-null   float64
 7   Dimensions - Gross Weight (kg)  8369 non-null   float64
dtypes: float64(8)
memory usage: 523.2 KB

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\983164149.py:74: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened[column].fillna(mean_value, inplace=True)  # Fill nulls with mean

In [71]:
import pandas as pd
import numpy as np

# Step 1: Extract the relevant columns for miscellaneous data
df_new_car_merged_flattened_temp_4 = df_new_car_merged_flattened[['Miscellaneous - Gear Box', 'Miscellaneous - Drive Type',
       'Miscellaneous - Seating Capacity', 'Miscellaneous - Steering Type',
       'Miscellaneous - Turning Radius', 'Miscellaneous - Front Brake Type',
       'Miscellaneous - Rear Brake Type', 'Miscellaneous - Top Speed',
       'Miscellaneous - Acceleration', 'Miscellaneous - Tyre Type',
       'Miscellaneous - No Door Numbers', 'Miscellaneous - Cargo Volumn',
       'Miscellaneous - Alloy Wheel Size']]

# Step 2: Function to clean and convert columns
def clean_and_convert(column, replacements, fill_method='mean'):
    # Clean the column
    cleaned_column = column.replace(replacements, regex=True)
    cleaned_column = pd.to_numeric(cleaned_column, errors='coerce')
    
    # Fill NaN values based on the specified method
    if fill_method == 'mean':
        mean_value = cleaned_column.mean()
        cleaned_column.fillna(mean_value, inplace=True)
    elif fill_method == 'top':
        top_value = cleaned_column.mode()[0]
        cleaned_column.fillna(top_value, inplace=True)
    elif fill_method == 'quantile':
        quantile_75 = cleaned_column.quantile(0.75)
        cleaned_column.fillna(quantile_75, inplace=True)
    
    return cleaned_column

# Step 3: Clean specific columns
# Clean the 'Turning Radius' column
df_new_car_merged_flattened_temp_4['Miscellaneous - Turning Radius'] = clean_and_convert(
    df_new_car_merged_flattened_temp_4['Miscellaneous - Turning Radius'],
    {'meters': '', 'metres': '', 'm': '', ' ': ''},
    fill_method='mean'
)

# Clean the 'Top Speed' column
df_new_car_merged_flattened_temp_4['Miscellaneous - Top Speed'] = clean_and_convert(
    df_new_car_merged_flattened_temp_4['Miscellaneous - Top Speed'],
    {'Km/h': '', 'Kmph': '', 'km/hr': '', ' ': ''},
    fill_method='mean'
)

# Clean the 'Acceleration' column
df_new_car_merged_flattened_temp_4['Miscellaneous - Acceleration'] = clean_and_convert(
    df_new_car_merged_flattened_temp_4['Miscellaneous - Acceleration'],
    {' Seconds': '', ' seconds': '', ' sec': '', 's': '', ' ': ''},
    fill_method='mean'
)

# Clean the 'Cargo Volume' column
df_new_car_merged_flattened_temp_4['Miscellaneous - Cargo Volumn'] = clean_and_convert(
    df_new_car_merged_flattened_temp_4['Miscellaneous - Cargo Volumn'],
    {' litres': '', ' liters': '', 'litres': '', 'liters': '', 'L': '', ' ': ''},
    fill_method='mean'
)

# Clean the 'Alloy Wheel Size' column
df_new_car_merged_flattened_temp_4['Miscellaneous - Alloy Wheel Size'] = clean_and_convert(
    df_new_car_merged_flattened_temp_4['Miscellaneous - Alloy Wheel Size'],
    {'R': '', ' ': ''},
    fill_method='mean'
)

# Step 4: Fill categorical columns with the most frequent value
columns_to_fill = [
    'Miscellaneous - Gear Box',
    'Miscellaneous - Drive Type',
    'Miscellaneous - Steering Type',
    'Miscellaneous - Front Brake Type',
    'Miscellaneous - Rear Brake Type',
    'Miscellaneous - Tyre Type'
]

top_values = {
    'Miscellaneous - Gear Box': '5 Speed',
    'Miscellaneous - Drive Type': 'FWD',
    'Miscellaneous - Steering Type': 'Power',
    'Miscellaneous - Front Brake Type': 'Disc',
    'Miscellaneous - Rear Brake Type': 'Drum',
    'Miscellaneous - Tyre Type': 'Tubeless,Radial'
}

# Fill each specified column with its top value
for column in columns_to_fill:
    df_new_car_merged_flattened_temp_4[column].fillna(top_values[column], inplace=True)

# Step 5: Fill 75th percentile for specific numeric columns
columns_to_fill_75_quantile = [
    'Miscellaneous - Seating Capacity',
    'Miscellaneous - No Door Numbers'
]

for column in columns_to_fill_75_quantile:
    df_new_car_merged_flattened_temp_4[column] = clean_and_convert(
        df_new_car_merged_flattened_temp_4[column],
        {},
        fill_method='quantile'
    )

# Step 6: Update the original DataFrame with cleaned values
df_new_car_merged_flattened.update(df_new_car_merged_flattened_temp_4)

# Step 7: Rename columns in the original DataFrame
columns_rename_mapping = {
    'Miscellaneous - Turning Radius': 'Miscellaneous - Turning Radius (m)',
    'Miscellaneous - Top Speed': 'Miscellaneous - Top Speed (Km/h)',
    'Miscellaneous - Acceleration': 'Miscellaneous - Acceleration (sec)',
    'Miscellaneous - Cargo Volumn': 'Miscellaneous - Cargo Volume (litres)',
    'Miscellaneous - Alloy Wheel Size': 'Miscellaneous - Alloy Wheel Size (inches)'
}

# Apply the renaming to the original DataFrame
df_new_car_merged_flattened.rename(columns=columns_rename_mapping, inplace=True)

# Step 8: Verify the changes in the original DataFrame
print("Updated column names in original DataFrame:")
print(df_new_car_merged_flattened.columns)

# Check if any NaN values are left
print("\nNull values in the original DataFrame after update and renaming:")
print(df_new_car_merged_flattened.isnull().sum())

# Optional: Display the updated data
print("\nSample data from updated columns:")
print(df_new_car_merged_flattened[list(columns_rename_mapping.values())].head())

C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4['Miscellaneous - Turning Radius'] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4['Miscellaneous - Top Speed'] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4['Miscellaneous - Acceleration'] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4['Miscellaneous - Cargo Volumn'] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4['Miscellaneous - Alloy Wheel Size'] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:89: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new_car_merged_flattened_temp_4[column].fillna(top_values[column], inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4[column].fillna(top_values[column], inplace=True)
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4[column] = clean_and_convert(
C:\Users\Bhuvanesh\AppData\Local\Temp\ipykernel_7616\419510391.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_car_merged_flattened_temp_4[column] = clean_and_convert(

Updated column names in original DataFrame:
Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear',
       ...
       'Miscellaneous - Turning Radius (m)',
       'Miscellaneous - Front Brake Type', 'Miscellaneous - Rear Brake Type',
       'Miscellaneous - Top Speed (Km/h)',
       'Miscellaneous - Acceleration (sec)', 'Miscellaneous - Tyre Type',
       'Miscellaneous - No Door Numbers',
       'Miscellaneous - Cargo Volume (litres)',
       'Miscellaneous - Alloy Wheel Size (inches)',
       'Dimensions - Ground Clearance Unladen'],
      dtype='object', length=239)

Null values in the original DataFrame after update and renaming:
it                                              0
ft                                              0
bt                                              0
km                                              0
transmission                                    0
                                             ...
Miscellaneous - Tyre Type                       0
Miscellaneous - No Door Numbers                 0
Miscellaneous - Cargo Volume (litres)           0
Miscellaneous - Alloy Wheel Size (inches)       0
Dimensions - Ground Clearance Unladen        7854
Length: 239, dtype: int64

Sample data from updated columns:
  Miscellaneous - Turning Radius (m) Miscellaneous - Top Speed (Km/h)  \
0                                4.7                            150.0
1                                5.3                       176.443544
2                                4.9                       176.443544
3                                4.7                            172.0
4                                5.2                            190.0

  Miscellaneous - Acceleration (sec) Miscellaneous - Cargo Volume (litres)  \
0                              15.05                            355.913982
1                          12.909041                            355.913982
2                               14.3                            355.913982
3                               14.2                            355.913982
4                               12.0                            355.913982

  Miscellaneous - Alloy Wheel Size (inches)
0                                 15.697549
1                                      16.0
2                                      14.0
3                                      14.0
4                                      16.0

In [73]:
df_new_car_merged_flattened

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Turning Radius (m),Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed (Km/h),Miscellaneous - Acceleration (sec),Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volume (litres),Miscellaneous - Alloy Wheel Size (inches),Dimensions - Ground Clearance Unladen
0,0,Petrol,Hatchback,120000,Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,4.7,Ventilated Disc,Drum,150.0,15.05,"Tubeless, Radial",5.0,355.913982,15.697549,NaN
1,0,Petrol,SUV,32706,Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3,Ventilated Disc,Drum,176.443544,12.909041,"Tubeless,Radial",4.0,355.913982,16.0,NaN
2,0,Petrol,Hatchback,11949,Manual,1,1st Owner,Tata,Tata Tiago,2018,...,4.9,Disc,Drum,176.443544,14.3,Tubeless,5.0,355.913982,14.0,NaN
3,0,Petrol,Sedan,17794,Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,4.7,Disc,Drum,172.0,14.2,"Tubeless,Radial",4.0,355.913982,14.0,NaN
4,0,Diesel,SUV,60000,Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,5.2,Ventilated Disc,Solid Disc,190.0,12.0,"Tubeless,Radial",5.0,355.913982,16.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,10000,Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,6.049264,Ventilated Disc,Drum,176.443544,12.909041,"Tubeless, Radial",5.0,313.0,15.697549,NaN
8365,0,Petrol,Hatchback,120000,Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,4.6,Solid Disc,Drum,176.443544,19.0,Tubeless Tyres,5.0,355.913982,15.697549,NaN
8366,0,Petrol,Sedan,50000,Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,5.42,Ventilated Disc,Solid Disc,230.0,8.8,"Tubeless,Radial",4.0,355.913982,17.0,NaN
8367,0,Petrol,Hatchback,40000,Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,4.7,Ventilated Disc,Drum,156.0,15.0,"Tubeless,Radial",5.0,355.913982,14.0,NaN
8368,0,Diesel,SUV,120000,Manual,2,2nd Owner,Renault,Renault Duster,2017,...,5.2,Disc,Drum,168.0,14.2,"Tubeless,Radial",5.0,355.913982,16.0,NaN

In [75]:
df_new_car_merged_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Columns: 239 entries, it to Dimensions - Ground Clearance Unladen
dtypes: category(14), float64(11), int32(2), int64(180), object(32)
memory usage: 14.6+ MB

In [77]:
# Print each column name and dtype manually
for col, dtype in df_new_car_merged_flattened.dtypes.items():
    print(f"{col}: {dtype}")

it: int64
ft: category
bt: category
km: int32
transmission: category
ownerNo: int64
owner: category
oem: category
model: category
modelYear: int64
centralVariantId: int64
variantName: category
price: object
price_cleaned: float64
Car overview - Registration Year: int64
Car overview - Insurance Validity: category
Car overview - Fuel Type: category
Car overview - Seats: category
Car overview - Kms Driven: int32
Car overview - RTO: category
Car overview - Ownership: category
Car overview - Engine Displacement: category
Car overview - Transmission: category
Car overview - Year of Manufacture: int64
Accessory Power Outlet: int64
Active Noise Cancellation: int64
Adjustable Head Lights: int64
Adjustable Headrest: int64
Adjustable Seats: int64
Adjustable Steering: int64
Air Conditioner: int64
Air Quality Control: int64
Alloy Wheels: int64
Android Auto: int64
Anti Lock Braking System: int64
Anti Pinch Power Windows: int64
Anti Theft Alarm: int64
Anti Theft Device: int64
Apple Car Play: int64
Audio System Remote Control: int64
Automatic Driving Lights: int64
Automatic Head Lamps: int64
Battery Saver: int64
Blind Spot Monitor: int64
Bluetooth: int64
Brake Assist: int64
Cassette Player: int64
Cd Changer: int64
Cd Player: int64
Centeral Locking: int64
Centrally Mounted Fuel Tank: int64
Child Safety Locks: int64
Chrome Garnish: int64
Chrome Grille: int64
Cigarette Lighter: int64
Clutch Lock: int64
Compass: int64
Cornering Foglamps: int64
Cornering Headlamps: int64
Crash Sensor: int64
Cruise Control: int64
Cup Holders Front: int64
Cup Holders Rear: int64
Day Night Rear View Mirror: int64
Digital Clock: int64
Digital Odometer: int64
Door Ajar Warning: int64
Drive Modes: int64
Driver Air Bag: int64
Driving Experience Control Eco: int64
Dual Tone Body Colour: int64
Dual Tone Dashboard: int64
Dvd Player: int64
Ebd: int64
Electric Folding Rear View Mirror: int64
Electronic Multi Tripmeter: int64
Eletronic Stability Control: int64
Engine Check Warning: int64
Engine Immobilizer: int64
Engine Start Stop Button: int64
Fabric Upholstery: int64
Find My Car Location: int64
Fog Lights Front: int64
Fog Lights Rear: int64
Follow Me Home Headlamps: int64
Front Impact Beams: int64
Gear Shift Indicator: int64
Geo Fence Alert: int64
Glove Box Cooling: int64
Glove Compartment: int64
Halogen Headlamps: int64
Hands Free Tailgate: int64
Headlamp Washers: int64
Heads Up Display: int64
Heated Wing Mirror: int64
Heater: int64
Height Adjustable Driver Seat: int64
Height Adjustable Front Seat Belts: int64
Hill Assist: int64
Hill Descent Control: int64
Impact Sensing Auto Door Lock: int64
Integrated Antenna: int64
Integrated2Din Audio: int64
Internal Storage: int64
Isofix Child Seat Mounts: int64
Keyless Entry: int64
Knee Airbags: int64
LEDDRLs: int64
LEDFog Lamps: int64
LEDHeadlights: int64
LEDTaillights: int64
Lane Change Indicator: int64
Lane Watch Camera: int64
Leather Seats: int64
Leather Steering Wheel: int64
Leather Wrap Gear Shift Selector: int64
Low Fuel Warning Light: int64
Luggage Hook And Net: int64
Manually Adjustable Exterior Rear View Mirror: int64
Mirror Link: int64
Moon Roof: int64
Multifunction Steering Wheel: int64
Navigation System: int64
No Of Airbags: int64
Number Of Speaker: int64
Outside Rear View Mirror Turn Indicators: int64
Outside Temperature Display: int64
Passenger Air Bag: int64
Passenger Side Rear View Mirror: int64
Power Adjustable Exterior Rear View Mirror: int64
Power Antenna: int64
Power Boot: int64
Power Door Locks: int64
Power Folding3rd Row Seat: int64
Power Steering: int64
Power Windows Front: int64
Power Windows Rear: int64
Pretensioners And Force Limiter Seatbelts: int64
Projector Headlamps: int64
Radio: int64
Rain Sensing Wiper: int64
Real Time Vehicle Tracking: int64
Rear ACVents: int64
Rear Camera: int64
Rear Entertainment System: int64
Rear Folding Table: int64
Rear Reading Lamp: int64
Rear Seat Belts: int64
Rear Seat Centre Arm Rest: int64
Rear Seat Headrest: int64
Rear Spoiler: int64
Rear Window Defogger: int64
Rear Window Washer: int64
Rear Window Wiper: int64
Remote Climate Control: int64
Remote Engine Start Stop: int64
Remote Fuel Lid Opener: int64
Remote Horn Light Control: int64
Remote Trunk Opener: int64
Removable Convertible Top: int64
Roof Carrier: int64
Roof Rail: int64
Seat Belt Warning: int64
Seat Lumbar Support: int64
Side Air Bag Front: int64
Side Air Bag Rear: int64
Side Impact Beams: int64
Side Stepper: int64
Smart Access Card Entry: int64
Smart Key Band: int64
Smoke Headlamps: int64
Sos Emergency Assistance: int64
Speakers Front: int64
Speakers Rear: int64
Speed Alert: int64
Speed Sensing Auto Door Lock: int64
Steering Mounted Tripmeter: int64
Steering Wheel Gearshift Paddles: int64
Sun Roof: int64
Tachometer: int64
Tailgate Ajar: int64
Tinted Glass: int64
Touch Screen: int64
Touch Screen Size: int64
Traction Control: int64
Trunk Light: int64
Tyre Pressure Monitor: int64
Usb Auxiliary Input: int64
Vanity Mirror: int64
Vehicle Stability Control System: int64
Ventilated Seats: int64
View360Camera: int64
Voice Control: int64
Wheel Covers: int64
Wifi Connectivity: int64
Wireless Phone Charging: int64
Xenon Headlamps: int64
No of Features: int64
Mileage: object
Engine(CC): object
Max Power(bhp): object
Torque(Nm): object
Seats: object
Wheel Size: object
Engine - Color: object
Engine - Engine Type: object
Engine - Displacement: object
Engine - Max Power: object
Engine - Max Torque: object
Engine - No of Cylinder: float64
Engine - Values per Cylinder: float64
Engine - Value Configuration: object
Engine - Fuel Suppy System: object
Engine - BoreX Stroke: object
Engine - Compression Ratio: object
Engine - Turbo Charger: object
Engine - Super Charger: object
Dimensions - Length (mm): float64
Dimensions - Width (mm): float64
Dimensions - Height (mm): float64
Dimensions - Wheel Base (mm): float64
Dimensions - Front Tread (mm): float64
Dimensions - Rear Tread (mm): float64
Dimensions - Kerb Weight (kg): float64
Dimensions - Gross Weight (kg): float64
Miscellaneous - Gear Box: object
Miscellaneous - Drive Type: object
Miscellaneous - Seating Capacity: object
Miscellaneous - Steering Type: object
Miscellaneous - Turning Radius (m): object
Miscellaneous - Front Brake Type: object
Miscellaneous - Rear Brake Type: object
Miscellaneous - Top Speed (Km/h): object
Miscellaneous - Acceleration (sec): object
Miscellaneous - Tyre Type: object
Miscellaneous - No Door Numbers: object
Miscellaneous - Cargo Volume (litres): object
Miscellaneous - Alloy Wheel Size (inches): object
Dimensions - Ground Clearance Unladen: object

In [79]:
# Get the names of object columns
object_column_names = df_new_car_merged_flattened.select_dtypes(include='object').columns
print(object_column_names)

Index(['price', 'Mileage', 'Engine(CC)', 'Max Power(bhp)', 'Torque(Nm)',
       'Seats', 'Wheel Size', 'Engine - Color', 'Engine - Engine Type',
       'Engine - Displacement', 'Engine - Max Power', 'Engine - Max Torque',
       'Engine - Value Configuration', 'Engine - Fuel Suppy System',
       'Engine - BoreX Stroke', 'Engine - Compression Ratio',
       'Engine - Turbo Charger', 'Engine - Super Charger',
       'Miscellaneous - Gear Box', 'Miscellaneous - Drive Type',
       'Miscellaneous - Seating Capacity', 'Miscellaneous - Steering Type',
       'Miscellaneous - Turning Radius (m)',
       'Miscellaneous - Front Brake Type', 'Miscellaneous - Rear Brake Type',
       'Miscellaneous - Top Speed (Km/h)',
       'Miscellaneous - Acceleration (sec)', 'Miscellaneous - Tyre Type',
       'Miscellaneous - No Door Numbers',
       'Miscellaneous - Cargo Volume (litres)',
       'Miscellaneous - Alloy Wheel Size (inches)',
       'Dimensions - Ground Clearance Unladen'],
      dtype='object')

In [81]:
# Convert the 'Engine(CC)' column to float in the original DataFrame



df_new_car_merged_flattened['Max Power(bhp)'] = df_new_car_merged_flattened['Max Power(bhp)'].astype('float64')
df_new_car_merged_flattened['Miscellaneous - Turning Radius (m)'] = df_new_car_merged_flattened['Miscellaneous - Turning Radius (m)'].astype('float64')
df_new_car_merged_flattened['Miscellaneous - Acceleration (sec)'] = df_new_car_merged_flattened['Miscellaneous - Acceleration (sec)'].astype('float64')

df_new_car_merged_flattened['Engine(CC)'] = df_new_car_merged_flattened['Engine(CC)'].astype('int64')
df_new_car_merged_flattened['Torque(Nm)'] = df_new_car_merged_flattened['Torque(Nm)'].astype('int64')
df_new_car_merged_flattened['Seats'] = df_new_car_merged_flattened['Seats'].astype('int64')
df_new_car_merged_flattened['Wheel Size'] = df_new_car_merged_flattened['Wheel Size'].astype('int64')
df_new_car_merged_flattened['Engine - Displacement'] = df_new_car_merged_flattened['Engine - Displacement'].astype('int64')
df_new_car_merged_flattened['Miscellaneous - Seating Capacity'] = df_new_car_merged_flattened['Miscellaneous - Seating Capacity'].astype('int64')
df_new_car_merged_flattened['Miscellaneous - Top Speed (Km/h)'] = df_new_car_merged_flattened['Miscellaneous - Top Speed (Km/h)'].astype('int64')
df_new_car_merged_flattened['Miscellaneous - No Door Numbers'] = df_new_car_merged_flattened['Miscellaneous - No Door Numbers'].astype('int64')
df_new_car_merged_flattened['Miscellaneous - Cargo Volume (litres)'] = df_new_car_merged_flattened['Miscellaneous - Cargo Volume (litres)'].astype('int64')
df_new_car_merged_flattened['Miscellaneous - Alloy Wheel Size (inches)'] = df_new_car_merged_flattened['Miscellaneous - Alloy Wheel Size (inches)'].astype('int64')


df_new_car_merged_flattened['Engine - Color'] = df_new_car_merged_flattened['Engine - Color'].astype('category')
df_new_car_merged_flattened['Engine - Engine Type'] = df_new_car_merged_flattened['Engine - Engine Type'].astype('category')
df_new_car_merged_flattened['Engine - Color'] = df_new_car_merged_flattened['Engine - Color'].astype('category')
df_new_car_merged_flattened['Engine - Engine Type'] = df_new_car_merged_flattened['Engine - Engine Type'].astype('category')
df_new_car_merged_flattened['Engine - Value Configuration'] = df_new_car_merged_flattened['Engine - Value Configuration'].astype('category')
df_new_car_merged_flattened['Engine - Fuel Suppy System'] = df_new_car_merged_flattened['Engine - Fuel Suppy System'].astype('category')
df_new_car_merged_flattened['Engine - Super Charger'] = df_new_car_merged_flattened['Engine - Super Charger'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Gear Box'] = df_new_car_merged_flattened['Miscellaneous - Gear Box'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Drive Type'] = df_new_car_merged_flattened['Miscellaneous - Drive Type'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Steering Type'] = df_new_car_merged_flattened['Miscellaneous - Steering Type'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Front Brake Type'] = df_new_car_merged_flattened['Miscellaneous - Front Brake Type'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Rear Brake Type'] = df_new_car_merged_flattened['Miscellaneous - Rear Brake Type'].astype('category')
df_new_car_merged_flattened['Miscellaneous - Tyre Type'] = df_new_car_merged_flattened['Miscellaneous - Tyre Type'].astype('category')

# Get the names of object columns
object_column_names = df_new_car_merged_flattened.select_dtypes(include='object').columns
print(object_column_names)

Index(['price', 'Mileage', 'Engine - Max Power', 'Engine - Max Torque',
       'Engine - BoreX Stroke', 'Engine - Compression Ratio',
       'Engine - Turbo Charger', 'Dimensions - Ground Clearance Unladen'],
      dtype='object')

In [83]:
df_new_car_merged_flattened['Dimensions - Ground Clearance Unladen'].unique()

array([nan, '190mm', '205', '209 mm', '155mm', '120mm', '192mm', '210mm',
       '160', '110mm', '185mm', '178mm', '116mm', '145mm', '200mm', '170',
       '184mm', '180mm', '140mm', '170mm', '210 mm', '91mm', '180',
       '175mm', '205mm', '165', '156mm'], dtype=object)

In [85]:
# Define the function to clean the column
def clean_dimension_data(column):
    # Remove 'mm', spaces, and convert to numeric
    cleaned_column = column.replace({'mm': '', ' ': ''}, regex=True)
    cleaned_column = pd.to_numeric(cleaned_column, errors='coerce')  # Convert to numeric, forcing errors to NaN
    
    # Fill NaN values with the mean
    mean_value = cleaned_column.mean()
    cleaned_column.fillna(mean_value, inplace=True)
    
    return cleaned_column

# Apply the cleaning function to the specific column in the original DataFrame
df_new_car_merged_flattened['Dimensions - Ground Clearance Unladen'] = clean_dimension_data(df_new_car_merged_flattened['Dimensions - Ground Clearance Unladen'])

# Verify the cleaned column
print(df_new_car_merged_flattened['Dimensions - Ground Clearance Unladen'].unique())
print(df_new_car_merged_flattened['Dimensions - Ground Clearance Unladen'].head())

[175.10097087 190.         205.         209.         155.
 120.         192.         210.         160.         110.
 185.         178.         116.         145.         200.
 170.         184.         180.         140.          91.
 175.         165.         156.        ]
0    175.100971
1    175.100971
2    175.100971
3    175.100971
4    175.100971
Name: Dimensions - Ground Clearance Unladen, dtype: float64

In [87]:
# Get the names of object columns
object_column_names = df_new_car_merged_flattened.select_dtypes(include='object').columns
print(object_column_names)

Index(['price', 'Mileage', 'Engine - Max Power', 'Engine - Max Torque',
       'Engine - BoreX Stroke', 'Engine - Compression Ratio',
       'Engine - Turbo Charger'],
      dtype='object')

In [89]:
df_new_car_merged_flattened.isnull().sum()

it                                           0
ft                                           0
bt                                           0
km                                           0
transmission                                 0
                                            ..
Miscellaneous - Tyre Type                    0
Miscellaneous - No Door Numbers              0
Miscellaneous - Cargo Volume (litres)        0
Miscellaneous - Alloy Wheel Size (inches)    0
Dimensions - Ground Clearance Unladen        0
Length: 239, dtype: int64

In [91]:
# Get columns with null values
null_columns = df_new_car_merged_flattened.isnull().sum()

# Filter to show only columns with null values
null_columns = null_columns[null_columns > 0]

# Display columns with null values
print(null_columns)

Series([], dtype: int64)

In [93]:
df_new_car_merged_flattened['City']=merged_df['City']

In [95]:
df_new_car_merged_flattened['Miscellaneous - Seating Capacity']

0       5
1       5
2       5
3       5
4       5
       ..
8364    5
8365    5
8366    5
8367    5
8368    5
Name: Miscellaneous - Seating Capacity, Length: 8369, dtype: int64

In [97]:
for i in df_new_car_merged_flattened:
    print (i)

it
ft
bt
km
transmission
ownerNo
owner
oem
model
modelYear
centralVariantId
variantName
price
price_cleaned
Car overview - Registration Year
Car overview - Insurance Validity
Car overview - Fuel Type
Car overview - Seats
Car overview - Kms Driven
Car overview - RTO
Car overview - Ownership
Car overview - Engine Displacement
Car overview - Transmission
Car overview - Year of Manufacture
Accessory Power Outlet
Active Noise Cancellation
Adjustable Head Lights
Adjustable Headrest
Adjustable Seats
Adjustable Steering
Air Conditioner
Air Quality Control
Alloy Wheels
Android Auto
Anti Lock Braking System
Anti Pinch Power Windows
Anti Theft Alarm
Anti Theft Device
Apple Car Play
Audio System Remote Control
Automatic Driving Lights
Automatic Head Lamps
Battery Saver
Blind Spot Monitor
Bluetooth
Brake Assist
Cassette Player
Cd Changer
Cd Player
Centeral Locking
Centrally Mounted Fuel Tank
Child Safety Locks
Chrome Garnish
Chrome Grille
Cigarette Lighter
Clutch Lock
Compass
Cornering Foglamps
Cornering Headlamps
Crash Sensor
Cruise Control
Cup Holders Front
Cup Holders Rear
Day Night Rear View Mirror
Digital Clock
Digital Odometer
Door Ajar Warning
Drive Modes
Driver Air Bag
Driving Experience Control Eco
Dual Tone Body Colour
Dual Tone Dashboard
Dvd Player
Ebd
Electric Folding Rear View Mirror
Electronic Multi Tripmeter
Eletronic Stability Control
Engine Check Warning
Engine Immobilizer
Engine Start Stop Button
Fabric Upholstery
Find My Car Location
Fog Lights Front
Fog Lights Rear
Follow Me Home Headlamps
Front Impact Beams
Gear Shift Indicator
Geo Fence Alert
Glove Box Cooling
Glove Compartment
Halogen Headlamps
Hands Free Tailgate
Headlamp Washers
Heads Up Display
Heated Wing Mirror
Heater
Height Adjustable Driver Seat
Height Adjustable Front Seat Belts
Hill Assist
Hill Descent Control
Impact Sensing Auto Door Lock
Integrated Antenna
Integrated2Din Audio
Internal Storage
Isofix Child Seat Mounts
Keyless Entry
Knee Airbags
LEDDRLs
LEDFog Lamps
LEDHeadlights
LEDTaillights
Lane Change Indicator
Lane Watch Camera
Leather Seats
Leather Steering Wheel
Leather Wrap Gear Shift Selector
Low Fuel Warning Light
Luggage Hook And Net
Manually Adjustable Exterior Rear View Mirror
Mirror Link
Moon Roof
Multifunction Steering Wheel
Navigation System
No Of Airbags
Number Of Speaker
Outside Rear View Mirror Turn Indicators
Outside Temperature Display
Passenger Air Bag
Passenger Side Rear View Mirror
Power Adjustable Exterior Rear View Mirror
Power Antenna
Power Boot
Power Door Locks
Power Folding3rd Row Seat
Power Steering
Power Windows Front
Power Windows Rear
Pretensioners And Force Limiter Seatbelts
Projector Headlamps
Radio
Rain Sensing Wiper
Real Time Vehicle Tracking
Rear ACVents
Rear Camera
Rear Entertainment System
Rear Folding Table
Rear Reading Lamp
Rear Seat Belts
Rear Seat Centre Arm Rest
Rear Seat Headrest
Rear Spoiler
Rear Window Defogger
Rear Window Washer
Rear Window Wiper
Remote Climate Control
Remote Engine Start Stop
Remote Fuel Lid Opener
Remote Horn Light Control
Remote Trunk Opener
Removable Convertible Top
Roof Carrier
Roof Rail
Seat Belt Warning
Seat Lumbar Support
Side Air Bag Front
Side Air Bag Rear
Side Impact Beams
Side Stepper
Smart Access Card Entry
Smart Key Band
Smoke Headlamps
Sos Emergency Assistance
Speakers Front
Speakers Rear
Speed Alert
Speed Sensing Auto Door Lock
Steering Mounted Tripmeter
Steering Wheel Gearshift Paddles
Sun Roof
Tachometer
Tailgate Ajar
Tinted Glass
Touch Screen
Touch Screen Size
Traction Control
Trunk Light
Tyre Pressure Monitor
Usb Auxiliary Input
Vanity Mirror
Vehicle Stability Control System
Ventilated Seats
View360Camera
Voice Control
Wheel Covers
Wifi Connectivity
Wireless Phone Charging
Xenon Headlamps
No of Features
Mileage
Engine(CC)
Max Power(bhp)
Torque(Nm)
Seats
Wheel Size
Engine - Color
Engine - Engine Type
Engine - Displacement
Engine - Max Power
Engine - Max Torque
Engine - No of Cylinder
Engine - Values per Cylinder
Engine - Value Configuration
Engine - Fuel Suppy System
Engine - BoreX Stroke
Engine - Compression Ratio
Engine - Turbo Charger
Engine - Super Charger
Dimensions - Length (mm)
Dimensions - Width (mm)
Dimensions - Height (mm)
Dimensions - Wheel Base (mm)
Dimensions - Front Tread (mm)
Dimensions - Rear Tread (mm)
Dimensions - Kerb Weight (kg)
Dimensions - Gross Weight (kg)
Miscellaneous - Gear Box
Miscellaneous - Drive Type
Miscellaneous - Seating Capacity
Miscellaneous - Steering Type
Miscellaneous - Turning Radius (m)
Miscellaneous - Front Brake Type
Miscellaneous - Rear Brake Type
Miscellaneous - Top Speed (Km/h)
Miscellaneous - Acceleration (sec)
Miscellaneous - Tyre Type
Miscellaneous - No Door Numbers
Miscellaneous - Cargo Volume (litres)
Miscellaneous - Alloy Wheel Size (inches)
Dimensions - Ground Clearance Unladen
City

In [103]:
import pandas as pd

df_new_car_merged_flattened.to_csv(r'C:\Users\Bhuvanesh\Desktop\Yogesh Guvi\Car Dekho\Dataset\Final\Data_after_cleaned.csv', index=False)